[2017-09-02 17:56] bubibubi opened #1 "JetByteArrayTypeMapping max size is wrong"
Max size should be checked (probably is 510 or 512).

[2017-09-03 09:35] #1 closed

[2017-09-03 09:36] bubibubi opened #2 "Design tests - Create E2E.accdb - Add E2E.accdb to project (ignore to git)"

[2017-09-03 14:35] bubibubi opened #3 "Should JetConnection be called JetDatabaseConnection?"

[2017-09-03 14:46] bubibubi opened #4 "There are tables that are not retrieved."
See ef6 issue.
https://github.com/bubibubi/JetEntityFrameworkProvider/issues/15

[2017-09-03 14:47] bubibubi opened #5 "During system tables retrieve there is a performance issue"
See ef6 provider bug

[2017-09-04 18:01] #2 closed

[2017-09-04 18:03] bubibubi opened #6 "Check that unique indexes are retrieved in the right way."
Probably EF Core enforce 1-1 relationships using unique indexes so Design Tests should not work anymore

[2017-09-04 18:09] bubibubi commented on #6
Looking at tests results UK are retrieved correctly.
EF does not enforce 1-1 using them (but looking at original tests results it should do).

[2017-09-05 06:13] bubibubi opened #7 "Check that during model creation no complex query are created."
Only show tables where ... Order by ... Statements should be executed

[2017-09-05 06:19] bubibubi opened #8 "Check that table existence check is optimized."
Also for migration history.
Actually migration history service runs a query similar to
exists select * from (show tables) where ...
that is not optimized.

[2017-09-06 06:43] bubibubi opened #9 "Check if the generated code can compile"
Actually there is an issue during compile.

[2017-09-06 09:54] bubibubi opened #10 "System.Data.Jet connection pooling"

[2017-09-06 09:56] bubibubi commented on #10
The connection pooling can be implemented using the wrapped connection.

[2017-09-06 10:20] bubibubi commented on #3
According with sqlite and to base class name the name of the class should be IJetRelationalConnection.

[2017-09-06 10:22] bubibubi commented on #3
Just in case,
SQL Server - SqlConnection
SQL Sever Compact - SqlceDatabaseConnection

[2017-09-16 09:41] #3 closed

[2017-09-16 12:33] #7 closed

[2017-09-16 12:33] #8 closed

[2017-09-18 14:33] bubibubi commented on #5
Look performance test result on ef6. The difference is minimal (less than 3%) so probably the problem is different

[2017-09-18 14:33] #5 closed

[2017-09-18 16:16] bubibubi opened #11 "Check table existence - Compare performance of show tables where and try select"
There are 2 functions to fix, one on MigrationHistory management class the other on JetConnection class.
MigrationHistory management should call the one on JetConnection.

[2017-09-19 11:50] #10 closed

[2017-09-19 12:43] bubibubi commented on #11
DB with 300 tables
600 hits
400 missed

TryCatch 1 sec
ShowWhere 8 secs

TryCatch is definitly faster.

[2017-09-19 12:54] bubibubi commented on #11
No way to use TryCatch in JetHistoryRepository because of the pipeline.

The pipeline is ExistsSql that must return the Sql to retrieve table existence and InterpretExistsResult that checks for the value returned by ExistsSql.

[2017-09-19 12:54] #11 closed

[2017-09-19 13:41] bubibubi commented on #4
On EF Core it works

[2017-09-19 13:41] #4 closed

[2017-09-19 13:50] bubibubi commented on #9
All AssertCompile are commented out

[2017-11-02 09:48] ITDancer13 opened #12 "Navigation Properties not working"
The Lazy-Loading or Loading of the navigation properties in general is not working properly.

I used your tutorial from your wiki-page to create the model and the database. All worked fine.
Then I modified your code-snipped from section "Use Your Model" to add a blog with one associated post:

[code]

When I execute it, I get the following exception at line `foreach (var cBlogPost in cBlog.Posts)`

[2017-11-02 13:13] bubibubi commented on #12
It's not a provider issue.
Actually Entity Framework Core does not support lazy load.
https://blogs.msdn.microsoft.com/dotnet/2017/08/14/announcing-entity-framework-core-2-0/
If you need lazy load you need to use EF 6.2.

Probably the tutorial is from JetEntityFrameworkProvider that is EF 6.x provider.
Could you send me a link of the tutorial?

[2017-11-02 14:25] ITDancer13 commented on #12
Thank you for your fast answer. The tutorial is okay, I added the lines in which I wanted to get the Posts from the Blog. So it was my fault.

I tried it with JetEntityFrameworkProvider and EF 6.2 too. According to your YouTube-Tutorial I created the Person-Car-Sample-Code.

It worked for me with eager loading :)
[code]

But when I remove `.Include("OwenedCars")` in the first foreach-loop, I didn´

[2017-11-02 20:56] bubibubi commented on #12
Did you mark Person.OwenedCars as virtual?

[2017-11-18 04:24] bryan5989 opened #13 "Unable to Load projects on clone"
Cloning repo in VS 2017: Unable to load EFCore.Jet, System.Data.Jet and EFCore.Jet.Integration.Test
root cause: .\build\GlobalAssemblyInfo.cs is missing

after cleaning the solution and rebuilding, new error: cannot find .\build\common.props

Please upload these files into the specified locations

Or dereference it

[2017-11-18 10:14] #13 closed

[2017-11-19 20:18] bryan5989 opened #14 "Missing Hint Path in EFCore.Jet.IntegrationTest.csproj"
Build still broken on clean repository clone. Compiler complains about a class missing in System.Data.SqlServerCe namespace.

Root cause: missing HintPath Element for System.Data.SqlServerCe Project Reference.

Fix: Edit EFCore.Jet.Integration.Test.csproj directly:

[code]

After this, good build on clean clone

[2017-11-19 23:07] bryan5989 opened #15 "Question/Enhancement : Add support for selecting Access Provider version"
Currently you can only use Access Database Engine 12.0 (2007 era) I cannot get update-database to work with any other Engine. I'd like to use 16.0 (2016 era) - https://www.microsoft.com/en-us/download/details.aspx?id=54920

Even if I set my DBContext.OnConfiguring() to use Provider=Microsoft.ACE.OLEDB.16.0 update-databse -Verbose shows me that it's still trying to use 12.0 even if I don't have it

[2017-11-20 06:29] #14 closed

[2017-11-20 06:42] bubibubi commented on #15
About using the right provider, the right property should be JetConfiguration.OleDbDefaultProvider (its static).
All the tests runs with 12 because the sets the connection directly (another way to use the provider you need).
You can also use App.Config to set the connection.

About DB creation and few other DDL statements the provider uses ADOX (dynamically referenced so if it's not present the pr

[2017-12-03 04:57] techcap opened #16 "Any() not supported"
Any() from DbSet<> does not be supported.

It occurs the exception.
[code]

FirstOrDefault() works properly.

[2017-12-03 09:58] bubibubi commented on #16
Are you using an mdb file or accdb file?

[2017-12-03 10:27] techcap commented on #16
I used mdb file.

[2017-12-03 12:08] bubibubi commented on #16
Could you please check this?
https://github.com/bubibubi/JetEntityFrameworkProvider/blob/master/docs/mdb_or_accdb_setup.md
I still haven't add this documentation to the new provider

[2017-12-03 15:00] techcap commented on #16
Should I compile the source code? Using nuget package, I cannot find JetConnection.DUAL property.

[2017-12-04 06:23] bubibubi commented on #16
The right class is JetConfiguration
Here you can find the right solution.
https://github.com/bubibubi/EntityFrameworkCore.Jet/wiki/Connection-configuration

[2017-12-04 06:23] #16 closed

[2017-12-04 06:37] techcap commented on #16
After adding the code below, error message is changed.

[code]

Error message
[code]

[2017-12-04 07:38] bubibubi commented on #16
Please check **Note for mdb users and DualForMdb** section of the documentation

[2017-12-04 08:02] techcap commented on #16
It works. I added some code on the DbContext static constructor for using Any() instead of FirstOrDefault().
But it looks not good idea.

Anyway, it's my code.

[code]

[2018-01-21 13:09] bubibubi opened #17 "Update JetDataReader with Include fixes"
https://github.com/bubibubi/JetEntityFrameworkProvider/issues/28

[2018-02-16 13:14] Laurig opened #18 "Issue with column default values"
I am testing EFCore.Jet to create a new database patterned on an existing DB that has historically been created by some VB6 code and ADOX.

I have columns with default values which in ADOX would have been created like this (VB6):
    With !Conversion
      Set .ParentCatalog = mcatSample
      .Properties("Nullable") = True
      .Properties("Default") = 0
    End With

In the Migration it looks l

[2018-02-16 13:31] bubibubi commented on #18
What's wrong in it?

[2018-02-16 13:47] Laurig commented on #18
I am not sure what you are asking. The data migration in the model looks ok. However when ef is used to create the database, the create table fails because the Microsoft.ACE.OLEDB.12.0 driver doesn't like the round brackets around the default value. I confirmed this by running the EF SQL directly in ADO.Net. When I removed the round brackets on the columns with DEFAULT in ADO.Net, the command exec

[2018-02-16 13:48] bubibubi commented on #18
Thanks! I did not remember this detail about Jet dialect

[2018-03-20 09:49] ShamilS opened #19 "PM: Update-Database -> Could not load type 'System.Data.OleDb.OleDbConnectionStringBuilder'..."
In the VS2017 Update 3 v.15.5.3 I'm trying to get through the following sample

[Using Entity Framework Core with Jet in Traditional .Net Applications](https://github.com/bubibubi/EntityFrameworkCore.Jet/wiki/Using-Entity-Framework-Core-with-Jet-in-Traditional-.Net-Applications)

and I'm getting

**Could not load type 'System.Data.OleDb.OleDbConnectionStringBuilder' from assembly 'System.Data, Ver

[2018-03-20 09:58] ShamilS commented on #19
The issue was opened by mistake. I should have used the sample with traditional .NET v.4.6.1+ apps and I have used it with .NET Core 2.0 console app.

[2018-03-20 09:58] #19 closed

[2018-06-06 03:42] gojanpaolo opened #20 "Update to 2.1"
It would be nice if we could bump the minor version to 2.1 to match the latest EF Core version.
Please let me know if you need help on this. :)

[2018-06-06 07:18] bubibubi commented on #20
Thanks for the offer!!!
I'm already working on it. There are some issues on tests but within a week I will be probably able to release a preliminary version.

[2018-06-06 11:23] gojanpaolo commented on #20
Awesome! Thank you :)

[2018-06-07 14:41] bubibubi commented on #20
There are tons of non working tests but the provider seems to work.
Lazy load and Group by works.
It's still in preview so to download from nuget you need to enable previews.

[2018-06-19 05:28] liuyu81 commented on #20
Looking forward to the full release of 2.1

[2018-07-02 20:33] gojanpaolo opened #21 "EnsureDeleted doesn't work"
.NET Framework 4.7.2 Console App
install-package entityframeworkcore.jet -version 2.0.0

    using EntityFrameworkCore.Jet;
    using Microsoft.EntityFrameworkCore;

    class Program
    {
        static void Main(string[] args)
        {
            using (var ctx = new Context())
            {
                ctx.Database.EnsureCreated();
            }

            using (var ctx = new Context(

[2018-07-03 09:23] bubibubi commented on #21
I try it (with version 2.1.0-preview3) and it works.
What is exactly the error you are receiving?

[2018-07-03 13:44] gojanpaolo commented on #21
Still doesn't work with 2.1.0-preview3.
There's no error/exception. It just doesn't delete the database.

[2018-07-04 07:35] bubibubi commented on #21
The problem is related to the latest ; on the connection string. I need to fix the connection string parser. Meanwhile you can remove it and then it should work

[2018-07-04 10:16] #21 closed

[2018-07-05 17:37] gojanpaolo commented on #21
Ah. It never occured to me to that it was the connection string. Thank you! :D

[2018-07-05 17:42] bubibubi commented on #21
My fault. I'm not able to write regular expressions... Every time there is
something that does not work.
I use it to retrieve the name of the file to delete...

Il gio 5 lug 2018, 19:37 Jan Paolo Go <notifications@github.com> ha scritto:

[2018-07-07 07:06] tprodromos opened #22 "Value cannot be null ?"
Hello,
I'm trying to Scaffold an existing Access Database.
I'm getting:
Value cannot be null.
Parameter name: nullableType

Here is the command and the results :

PM> Scaffold-DbContext -Connection "Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Slim2016.accdb;" -Provider EntityFrameworkCore.Jet -OutputDir AccessModels
System.ArgumentNullException: Value cannot be null.
Parameter name: nullableType

[2018-07-27 07:22] rakewell commented on #22
Are there any known workarounds to this issue?

[2018-07-27 07:32] bubibubi commented on #22
Not yet. I hope to find time to work on it in few days.

[2018-07-27 08:37] rakewell commented on #22
awesome, thanks.

[2018-07-27 12:36] bubibubi commented on #22
Please have a look to 2.1.0-preview5.
Could you also let me know if the fix works for you?

[2018-07-27 21:09] techcap commented on #20
Will it be supported .net core also?

[2018-07-28 07:42] tprodromos commented on #22
Hello,

The good news is that I got my models after the Scaffold-DbContext!

The bad news is that I got a bunch of errors. At the end, with red color :

Value cannot be null.

Parameter name: nullableType.

I ha no idea what is this. Maybe there will be a bug in the created models?

Below is complete error message.

Thanks.

System.ArgumentNullException: Value cannot be null.

Parameter name: null

[2018-07-28 07:45] tprodromos commented on #22
My Mistake. I did NOT get the Models. Please note!

[2018-07-28 07:57] tprodromos commented on #22
Now it worked. It looks like i have to Update to preview5 from Updates Tab in NuGet packets managet. I've selected it packet from Browse tab. I Despite showing preview5 it installed preview4.
I'm sorry for the inconvenience. I'm new to this.
Thanks.

[2018-07-29 01:05] rakewell commented on #22
looking good @bubibubi  thanks for that.

[2018-07-29 07:06] bubibubi commented on #20
Actually is not possible.
To access to a Microsoft Access database we need to use OleDb and the Microsoft Access OleDb provider. They are both not ported to .Net Core.

[2018-08-14 03:11] sthompson32780 opened #23 "Change Tracking Disabled"
If you specify AsNoTracking on a query, it throws an error -

System.InvalidOperationException: 'variable 'materializationContext' of type 'Microsoft.EntityFrameworkCore.Storage.MaterializationContext' referenced from scope '', but it is not defined'

Example:

var list = (from e in context.Config
                        select e).AsNoTracking().ToList();

[2018-08-18 06:52] bubibubi commented on #23
I could reproduce the problem with EF 2.1.0.
It seems to be an EF 2.1.0 bug now closed.
https://github.com/aspnet/EntityFrameworkCore/issues/11689
Could you confirm that with EF 2.1.1 works?

[2018-08-22 21:18] sthompson32780 commented on #23
Still occurring on the 2.1.2 release when returning a list -

System.InvalidOperationException: 'variable 'materializationContext' of type 'Microsoft.EntityFrameworkCore.Storage.MaterializationContext' referenced from scope '', but it is not defined'

Note: I do not get this error when I use Sqlite provider.

[2018-10-02 18:37] vogelvision opened #24 "Update-Database failed exception"
I'm using EntityFrameworkCore.Jet 2.1.0-preview5 and I ran  Add-Migration Initial and then ran Update-Database and I get this error:

Failed executing DbCommand (518ms) [Parameters=[], CommandType='Text', CommandTimeout='30']
SHOW TABLES WHERE NAME=''__EFMigrationsHistory''
System.Data.SyntaxErrorException: Syntax error: Missing operand after '__EFMigrationsHistory' operator.
   at System.Data.Exp

[2018-12-07 10:54] jurgenvo commented on #24
@bubibubi Any chance this fix can be included in a new preview release on short notice?

[2018-12-08 23:45] bubibubi commented on #24
I try to have a look at the beginning of the next week

[2018-12-10 06:47] #24 closed

[2018-12-10 06:50] bubibubi commented on #24
Just released a preview 6

[2018-12-10 07:46] jurgenvo commented on #24
@bubibubi Thanks for the quick help!

[2019-01-01 21:42] aammfe opened #25 "System.NotImplementedException: The 'JetStringTypeMapping'"
Hello!!
Error while DB first scaffolding

using Jet 2.1.0-preview6

`Scaffold-DbContext "Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\Dot-Net-WorkSpace\CFH\Database\Contab.mdb;" EntityFrameworkCore.Jet -OutputDir Models`

System.NotImplementedException: The 'JetStringTypeMapping' does not support value conversions. Support for value conversions typically requires changes in the database provid

[2019-01-02 07:00] bubibubi commented on #25
Wich version of Entity Framework Core are you using?

[2019-01-05 06:51] bubibubi commented on #25
EF 2.2?
I'm working on implementing the new interfaces but it will take a while

[2019-01-08 18:23] bubibubi commented on #25
Released in 2.2-preview1

[2019-01-08 18:23] #25 closed

[2019-01-08 18:36] #20 closed

[2019-01-08 18:47] bubibubi commented on #15
Thanks for the commit!!! (I don't know why I'm not receiving  emails when someone pushes a commit so it took a lot of time to see this...)

[2019-01-08 18:47] #15 closed

[2019-01-08 18:52] #22 closed

[2019-01-14 11:15] TelcoPhil opened #26 "Update-Database always wants to create new Database in Code First"
Hi Bubibubi,

this may be a problem of me not understanding how it works but here's my problem:
I have a Code-First scenario with a couple of DBsets etc. First generation via Add-Migration + Update-Database works like a charm, but if I change the code, add another migration and then run Update-Database again it fails, because it wants to create the Database again, not only apply the changes. Am i

[2019-02-15 21:26] formalist opened #27 "Generated ModelContext.cs doesn't compile - need: using EntityFrameworkCore.Jet;"
In DB First scenario, the generate ModelContex.cs (from Scaffold-DbContext command) doesn't compile, issuing with the following error:

Error CS1061: 'DbContextOptionsBuilder' does not contain a definition for 'UseJet' and no accessible extension method 'UseJet' accepting a first argument of type 'DbContextOptionsBuilder' could be found (are you missing a using directive or an assembly reference?)

[2019-02-18 15:08] thomasbevan commented on #15
@bubibubi could we get a nuget package with this fix in?

[2019-02-18 18:03] bubibubi commented on #15
Just made a new release

[2019-02-20 13:24] alan-hardwick commented on #15
Hi, I am trying to create a 2000 file format Access database to replicate our current version using EFC. I have tried using OLEDB.4 with OleDbDefaultProvider = "Microsoft.Jet.OLEDB.5.0;Jet OLEDB:Engine Type=4" without much success. Any suggestions? Thanks

[2019-02-20 13:25] alan-hardwick commented on #15
Sorry - that should be Microsoft.Jet.OLEDB.4.0;Jet OLEDB!

[2019-02-20 13:27] alan-hardwick commented on #15
Hi, I am trying to create a 2000 file format Access database to replicate our current version using EFC. I have tried using OLEDB.4 with OleDbDefaultProvider = "Microsoft.Jet.OLEDB.4.0;Jet OLEDB:Engine Type=4" without much success. Any suggestions? Thanks

[2019-02-20 16:35] bubibubi commented on #15
You have to compile the app using 32bit configuration (Jet.OLEDB.4.0 is 32bit dll).
What is the error you receive?

[2019-02-20 16:48] alan-hardwick commented on #15
Using **optionsBuilder.UseJet("Provider=Microsoft.Jet.OLEDB.4.0;Jet OLEDB:Engine Type=4;Data Source=MY.MDB");** with your recompiled .jet source of **public static string OleDbDefaultProvider = "Microsoft.Jet.OLEDB.4.0;Jet OLEDB:Engine Type=4";** (everything compiled with x86), it creates a Access 2002 format database, but I need 2000 file format. Thanks

[2019-02-20 17:14] bryan5989 commented on #15
From the engine’s perspective, Access 2000,2002,2003 format files all use the same engine. That is to say, Jet 4.0 will interact in the same way with any of those file formats.

The difference between Access 2000 and 2002-2003 formats come in with what the Gui Access Client can do. If you use any 2002/2003 features in that db file, then attempting to open the file with a 2000 client will cause iss

[2019-02-20 17:30] alan-hardwick commented on #15
If I use my version of MSAccess GUI (Office 2016) I can open one of our current 2000 format files. I cannot find how to use the EF Core to create the same 2000 format .MDB file. Using OLEDB.4, depending on the Engine Type I use, my GUI MSAccess says it cannot open it as it is a previous version (perhaps '97 although I do not know how to confirm this), or it opens as a 2002 format. At present we wi

[2019-02-20 18:01] bryan5989 commented on #15
Engine Type 5 = Jet 4.0

using anything less results in a pre-2000 file.

Your problem stems from the fact that in Jet 4.0, when you create a new file, It will by default be the "current" version that that the engine supports.

I do not know of a way to create an mdb file in "2000" version mode. 2000 is essentially a "compatibility mode" version for 2002-2003.

2000 and 2002-2003 are structurally

[2019-02-20 18:07] bryan5989 commented on #15
Maybe try to install an old version of Jet OleDb Provider 4.0 (Older than SP1)

in 4.0 pre-SP1 2002-2003 didn't exist yet. Maybe that's your answer.... Find an Office 2000 disk without the service pack.

[2019-02-20 18:12] bubibubi commented on #15
You can also try to use an empty mdb that you already have. In the migration process you can create only the tables using the already existing mdb.

[2019-02-20 18:42] alan-hardwick commented on #15
Excellent - thanks for all your help.

[2019-03-21 17:03] MarcinWerra commented on #26
Phil, I had the same problem.
I noticed that I was creating a path to the database file in quotes.

`string myConnectionString = string.Format("Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\"{0}\";", pathToFile);`

Of course, this is correct. However, in the **System.Data.Jet.JetConnection.DatabaseExists** function there is a small error by which paths containing quotes are always considered non-e

[2019-03-22 13:18] bubibubi commented on #26
Thanks to you for the suggested fix!!!

[2019-03-22 13:18] #26 closed

[2019-05-11 11:23] frodofrod opened #28 "Demo code fails with exception"
I'm trying out the Jet Entity Framework and have built the demo successfully, created a database from the class definitions,  added records to `the` database, but get an exception when I run the code to retrieve records.

"Could not load type 'Microsoft.EntityFrameworkCore.Metadata.Internal.IEntityMaterializer' from assembly 'Microsoft.EntityFrameworkCore, Version=2.2.4.0, Culture=neutral, PublicK

[2019-05-11 12:41] frodofrod commented on #28
After some playing around I've discovered that I had installed the latest stable release 2.0.0 and replacing with the latest preview 2.2.0 preview 3 seems to have fixed the problem.

[2019-05-11 12:41] #28 closed

[2019-05-30 18:59] MarcinWerra opened #29 "migrationBuilder.UpdateData() generates "SELECT @@ROWCOUNT;" in SQL"
Example Migration
[code]
Up() function generates SQL:
[code]
**@@ROWCOUNT** does not work in the Microsoft Access database.
[code]

I use the following model

[code]
1. Add first migration
`Add-Migration -Name "1" -StartupProject TestErrorUpdateTable -Project TestErrorUpdateTable -Context TestErrorUpdateTable.Database -V`
2. Create database with first migration
`Update-Database -Migration "1" -Sta

[2019-06-02 08:26] bubibubi commented on #29
Thanks for the great example!!!
I'm working on it!

[2019-06-02 10:01] bubibubi commented on #29
I have some issues running the migration. Anyway, I think I targeted the issue and I solved it. Could you check if it works now? The packege is 2.2.0-preview4

[2019-06-04 10:25] MarcinWerra commented on #29
Again, the SQL command "**SELECT @@ROWCOUNT**" is generated and an error occurs:
[code]
I checked in ILSpy how EntityFrameworkCore.Jet.dll looks like in version 2.2.0.-preview4 and how the creation of SQL "UPDATE ..." for migration can look like in EF.Core.
At EF.Core in the class code
Microsoft.EntityFrameworkCore.Migrations.MigrationsSqlGenerator: IMigrationsSqlGenerator
there is function
[code]

[2019-06-04 14:54] MarcinWerra commented on #29
Thank you for the quick reply.

I have not tested the **System.Data.Jet.JetCommand :: ExecuteDbDataReader** function, but maybe there is a problem with catching the "SELECT @@ROWCOUNT" command;

I used ILSpy to check where the `AppendSelectAffectedCountCommand` function is being used.
It was not used in EFCore.Jet.
It is used only in functions:
- Microsoft.EntityFrameworkCore.Update.UpdateSqlGener

[2019-06-04 15:19] bubibubi commented on #29
Deleting the AppendSelecteAffectedCountCommand removes the concurrency checks.
The where clause in

[code]

is used also for optimistic concurrency (every property marked with `ConcurrencyCheckAttribute` is included in the where clause).
If you remove `select @@rowcount` the optimistic concurrency check stop working.

[2019-06-04 16:06] MarcinWerra commented on #29
I understand. I have restored the `AppendSelectAffectedCountCommand` function.
I added in the function `System.Data.Jet.JetCommand: ExecuteNonQuery` checking the occurrence of **@@ROWCOUNT**
[code]
The whole function:
[code]
Migrations with the following SQL code are executed correctly.
[code]

[2019-06-04 17:36] bubibubi commented on #29
Thanks for the suggestions!!!

I still can't reproduce the error with a test. I can't run migrations from an integration test.
Anyway, I implemented your suggestions (the only difference is that I save the return value just in case EFCore inserts `select @@rowcount`  in a middle of a query) so now it should work.

I have uploaded it as 2.2.0-preview5, could you check it?

[2019-06-04 17:38] #29 closed

[2019-06-21 21:26] gojanpaolo opened #30 ".NET Standard 2.0 or 2.1?"
Thank you for all the hard work you've made to create this library.
I would just like to ask if there are any plans to migrate from .NET Framework to .NET Standard?
From the looks of it, .NET Framework 4.8 will be the last version and will only support up to .NET Standard 2.0.

[2019-06-24 11:27] bubibubi commented on #30
The provider uses OleDB and the Jet/ACE OleDB provider so it will run only on Windows. I think that it will have the same behaviour of System.Windows.Forms (that we probably will find also on .Net 5 but will work only on Windows).

[2019-06-24 12:36] gojanpaolo commented on #30
@bubibubi I see. But is there a chance to use the .Net Standard versions of those libraries? e g. [System.Data.OleDb](https://www.nuget.org/packages/System.Data.OleDb).

That way, we can create a .Net Standard 2.1+ library that depends on this library.

Not sure if that is doable. But if it is, I can give it a try with some guidance on where to start. :)

[2019-07-12 15:26] lauxjpn opened #31 "Empty HasMany() translates into wrong SQL"
Let's assuming the following Tables:
[code]
And their following POCO classes:
[code]
With their following Fluent-API configurations:
[code]
Querying ```context.Cars.ToList()``` will then generate the following (wrong) SQL:
[code]
The key ```RadioId``` of the ```Radio``` table is included in the columns list (which is wrong), though the ```Radio``` table is not part of the query (which is correct).

[2019-07-12 16:16] lauxjpn commented on #31
Okay, seems to be an error on my end. Can be closed.

[2019-07-12 16:16] #31 closed

[2019-07-17 05:59] MarcinWerra opened #32 "Can't save decimal value"
Is it possible to save a decimal value?
[code]
There is an "Inappropriate data type in the criterion expression" with HResult 0x‭80040E07‬ from "Microsoft JET Database Engine".
[code]

[2019-07-25 16:09] bubibubi commented on #30
As far as I know System.Data.OleDb will be available only in .Net Standard 3 so actually it's not possible.

The needs to make is probably to split it in 2 different projects, one for .Net Standard and one for .Net Framework then pack it in a single NuGet package.

[2019-08-02 09:33] bubibubi commented on #32
I checked your code using 2.2.0 stable. I ported the code to a test case (Model79_CantSaveDecimalValue).
Actually the only difference is that I'm using an accdb file with x86 configuration but I don't think that they could be the problem.
I can run your code and the result is 1 record inserted. The sql queries runned against the database are the following (I enabled sql trace in Jet EF Provider se

[2019-08-08 06:26] GGanter commented on #32
I have the same mistake. I think it’s a problem of the language. In a german Accessdb it don’t work.

[2019-08-12 11:26] MarcinWerra commented on #32
Hello Bubibubi,

I need to work on some older application that uses .mdb files, so I need to use "Microsoft.Jet.OLEDB.4.0" OleDbDefaultProvider. I do not want to install the Microsoft.ACE.OLEDB driver on client computers.

**I am currently trying not to use decimal fields. I use float fields instead.**

I tested the record addition directly through OleDb and the same problem occurred in every "Mic

[2019-08-21 07:27] bubibubi commented on #32
I think that the problem is not related only to decimal point. With system set in it-IT (so the comma separates decimal values and the dot separate thousands) everything's working fine.
Actually I'm trying to reproduce the issue.
Using your test application, if I change current culture and current ui culture to pl-PL should it stop working? Because for me it still works.

[2019-08-26 14:40] MarcinWerra commented on #32
Yes, with the Region set in the System Control Panel to "Polish (Poland)" I get the same error message all the time.

I checked other Regions:
Italian (Italy) - **works**
German (Germany) - **works**

**I noticed that when in "Polish (Poland)" region I set the "Digit grouping symbol" to "dot", then decimal value writing works**.
By default, in Polish region the "Digit grouping symbol" is "**space*

[2019-10-01 12:49] FreddyD-GH commented on #30
@bubibubi

I have been playing around with trying to use this package with .NET Core 3.  Just wanted to share my findings, in case they are helpful to you or others.

It is actually pretty easy to convert the two project files to .NET Standard 2.0, using the new SDK-style format.  Beyond that, the references can be replaced with the following:

- **System.Data.Jet:** System.Data.OleDb, System.Dyna

[2019-11-23 00:07] lauxjpn opened #34 "EF Core 3.0/3.1 support"
Are there any plans for an EF Core 3.0/3.1 release? If so, what is the expected timeline?
This is related to #30.

@bubibubi There seems to be no activity on this repo in the last 4 month. Is this repo dead or is there still active development going on? In case there is no one available for the 3.0/3.1 upgrade, I will do in the first quarter of 2020, because I need EntityFrameworkCore.Jet to work

[2019-11-23 00:21] lauxjpn commented on #18
@ckosti If you got the time, please open a PR with your fix, so it can be merged upstream.

[2020-01-07 17:35] Veflow commented on #34
Any update on this?

@lauxjpn if you're still planning on doing the upgrade, and could use some help, let me know if I can be of assistance.

[2020-01-07 18:49] lauxjpn commented on #34
@Veflow Since I got no answer from @bubibubi, it looks like I will have to fork the repo and take over. We have already released 3.1 for Pomelo.EntityFrameworkCore.MySql, but will add some promised features first, before I can get on to upgrading EFCore.Jet.

The timeline has not changed, so doing the upgrade in this quarter is still what I have planed.

I will update this thread once I begin prep

[2020-01-07 19:05] Veflow commented on #34
@lauxjpn Thanks for taking the initiative! I too think that the throws shouldn't be too much of an issue for most. I've encountered the issue myself on migrating own projects from EFCore 2.2 to 3.x and I think most people have. Though I'm not too familiar yet with EFCore.Jet to have a idea of the limitations in this specific scenario.

Looking forward to hearing about the progress. And again, let

[2020-01-07 23:38] bubibubi commented on #34
Sorry for the late answer...
I'm working on a project that is taking a lot of time.
Could I add you as developer so you can handle changes in this period?
About compiling and nuget I can handle it with very short delay..
After this period we can share the effort.

[2020-01-08 00:01] lauxjpn commented on #34
@bubibubi Yes, that should work. I haven't taken a deeper look into the CI pipeline here, but until we have a first prerelease ready, there would be no need to do so anyway.
I plan to start working on the upgrade in February.

#### About myself

I am currently the lead developer on the Pomelo.EntityFrameworkCore.MySql project here on GitHub and did once write and maintain an MS Access EF 4/5 provi

[2020-01-08 07:20] bubibubi commented on #34
That's great!
In this case I can work on the EF 6.3 provider.

About this provider, it is a porting of the SQL Server provider plus an Ado provider (that uses OleDb and ADOX). ADOX is not referenced but loaded dynamically to avoid 32/64 bit issues. If ADOX cannot be loaded, migrations have some limitations.
There is no CI for this project.

Please feel free to contact me every time you need and I

[2020-01-13 04:25] Weijee opened #35 "efcore.jet 2.2.0 database provider error."
**I want to use efcore.jet 2.2.0 in my asp.netcore 2.2.0 project.
But I got a exception as below:**

System.InvalidOperationException: 'No database provider has been configured for this DbContext. A provider can be configured by overriding the DbContext.OnConfiguring method or by using AddDbContext on the application service provider. If AddDbContext is used, then also ensure that your DbContext t

[2020-01-13 10:50] bubibubi commented on #35
Probably you can find an answer faster asking on stack overflow.

[2020-01-13 13:09] lauxjpn commented on #35
If you use ASP.NET and register your `DbContext` with `services.AddDbContext<TestDbContext>()`, then you should use dependency injection to get an instance of your context.

So do not use code like the following:

[code]

Instead do something like the following:

[code]

You would also need to make sure, that you run the application for the processor architecture of the underlying database provide

[2020-01-14 03:10] Weijee commented on #35
@bubibubi @lauxjpn Thank you for your explain。For now  i am using System.Data.OleDb .NET Core package to access my MS Access.mdb, is there any release schedule of the JetEFCore3.1 now?

[2020-01-14 03:13] lauxjpn commented on #35
See #34 for further details.

[2020-01-14 03:46] Weijee commented on #35
Thank you for your reply. Looking forward.

[2020-01-18 02:25] sofu456 opened #36 "System.Data.OleDb.OleDbException can not find database file"
i use the entityframework but it does not create the database file of access . should it create file by myself before i use the framework.thank you.

[2020-01-18 04:55] lauxjpn commented on #36
There are currently some glitches in the code base surrounding database creation.
How does your database creation code and connection string look like?
What is the exception (including stack trace etc.) you are getting?

[2020-01-18 18:18] bubibubi commented on #36
To create the database the driver uses ADOX that is a 32 bit library.
If you don't want to compile the driver and the application using 32 bit, you can create the database before.

[2020-01-18 18:19] #36 closed

[2020-01-19 01:40] sofu456 commented on #36
protected override void OnConfiguring(DbContextOptionsBuilder optionsBuilder)
        {
            optionsBuilder.UseJet("Provider=Microsoft.Jet.OLEDB.4.0;Data Source=.\\" +
                DateTime.Now.ToString("yyyyMMdd") + ".mdb;Driver={MicrosoftAccessDriver(*.mdb)};");
        }

config like this. is the office 365 does not supported by the library?

[2020-01-19 05:43] lauxjpn commented on #36
If you don't want to compile the driver and the application using 32 bit, you can create the database before.

As @bubibubi said, database creation depends on the `ADOX.Catalog` COM component, which is 32 bit. So you should ensure, that your application is being run as 32 bit. The easiest way to do this is to check the result of `Environment.Is64BitProcess`. The result needs to be `false`, for the

[2020-01-19 06:55] lauxjpn commented on #36
Talking about a problem with our database creation code in general here, the current code base uses an empty connection that uses `JetConfiguration.OleDbDefaultProvider` which is set to `Microsoft.ACE.OLEDB.15.0`, which is just an arbitrary version (and is not installed on my own machine for example, that uses Office 365).
Instead, it should use the provider specified in the `UseJet()` call.

We m

[2020-02-12 00:28] olakusibe opened #38 "Scaffold-DbContext : Exception calling "Start" with "1" argument(s): "The system cannot find the file specified"
I keep getting this error while trying to scaffold from an existing mdb file, I have checked and confirmed that `ACEOLEDB 12` in installed also I target `.NET Framework 4.7.2` and package are `EntityFrameworkCore.Jet 2.2.0 ` and `Microsoft.EntityFrameworkCore.Tools 2.2.4`

`Scaffold-DbContext : Exception calling "Start" with "1" argument(s): "The system cannot find the file specified"`
`At line:1

[2020-02-13 10:39] lauxjpn commented on #38
Please post us the commands you tried to execute.

[2020-02-13 11:11] olakusibe commented on #38
via PMC
`Scaffold-DbContext -Connection "Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\RecentBanker_MFB\RDBMS\CDB2.MDB;Jet OLEDB:Database Password=mysecretpassword;" -Provider EntityFrameworkCore.Jet -OutputDir Models -verbose`

[2020-02-13 11:22] lauxjpn commented on #38
Do you get the same error when running it via the command line as:

`dotnet ef dbcontext scaffold "Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\RecentBanker_MFB\RDBMS\CDB2.MDB;Jet OLEDB:Database Password=mysecretpassword;" EntityFrameworkCore.Jet -o Models -verbose`

How does the full verbose output look like?

[2020-02-13 12:13] olakusibe commented on #38
Yet to try running it through the command line .

Although, I setup a fresh project and set it to compile as `x86`, and is given another error of "file cannot be opened by older application" so I tried using `Microsoft.ACE.OLEDB.4.0`, but that also is given an error `The 'Microsoft.ACE.OLEDB.4.0' provider is not registered on the local machine.`

Its obvious the mdb file version is old, and I can

[2020-02-13 12:13] #38 closed

[2020-02-13 14:19] lauxjpn commented on #38
The older 4.0 driver is `Microsoft.Jet.OLEDB.4.0` (not `ACE`).

[2020-02-20 02:02] FreddyD-GH commented on #34
@lauxjpn FYI, I have done work converting the projects to dual-target .NET Framework 4.6.1 and .NET Core 3.1 over at https://github.com/FreddyD-GH/EntityFrameworkCore.Jet

@bubibubi I found that there were still 3400+ tests that failed on .NET framework before I even touched a line of code.  I take it the project never had a 100% pass rate on tests?  I can dig into the tests more later, but it see

[2020-02-20 06:57] bubibubi commented on #34
@FreddyD-GH great job!!!

The failing tests came from EF Core 1. When I ported EF.Core from 1 to 2 I did not update the tests.
EFCore.Jet.Integration.Test are tests that I used in EF 6. We could keep that tests. About other tests we probably should delete everything than copy SQL Server tests then start the porting. This is the hard job. Also, if a test fails in a global tests run, sometimes run a

[2020-02-20 07:17] bubibubi commented on #34
@FreddyD-GH after running the EFCore.Jet.Integration.Test can you tag the old project and merge your branch?

[2020-02-20 08:19] lauxjpn commented on #34
@FreddyD-GH Looks good to me. I think we can use this as the base for the upgrade.

@bubibubi Seems it might be better after all, if we implement a CI pipeline for future PRs. Can you setup an AZDO account? I will implement the CI while working on the upgrade.

[2020-02-20 08:28] FreddyD-GH commented on #34
@bubibubi I don't think it makes sense to merge the branch quite yet.  The bugs in the .NET Core version of System.Data.OleDb means that it doesn't offer much functionality at this point.

I would recommend the following procedures:
1) Let's wait a few days, because there is a PR in the works for the transaction issue.  Once it's merged, we should be able to get a preview version that fixes quite

[2020-02-20 09:19] bubibubi commented on #34
@lauxjpn Sorry for my stupid question... I use a private TeamCity server for my projects. Any suggestion for setting up the AZDO account? Should we share a password?

[2020-02-20 09:27] bubibubi commented on #34
@FreddyD-GH

About point 3, the tests are definitely outdated. That's why I did not the port the provider from 2 to 3... Porting the 3.1 SQL Server provider tests to our provider will take days. But I think that it's necessary.

About OleDb I don't know. The only issue could be the release time. I hope they will fix it before EF Core 5... Do you have any infos about release?

[2020-02-20 09:50] lauxjpn commented on #34
@bubibubi No, register and setup a free open source project. After that, you can add me as an admin as well. Of course, I can do the honors as well, if you want me to.

[2020-02-20 09:53] lauxjpn commented on #34
@bubibubi One of the issues got already fixed. It's a NuGet package now, so their release cycles are independent of major framework releases.

[2020-02-20 10:22] bubibubi commented on #34
@lauxjpn ok, done. More simple as I thought. To add you I need your email.

[2020-02-20 10:22] FreddyD-GH commented on #34
@bubibubi My understanding is that once the fix gets committed to the master branch, a nightly build will automatically generate a package that can be downloaded through a public feed.  We can use the nightly build of  package for testing/development purposes.

However, that means publishing a release of EFCore.Jet to NuGet.org wouldn't be feasible until System.Data.OleDb publishes an actual relea

[2020-02-20 10:25] lauxjpn commented on #34
@bubibubi laucomm(at)gmail.com

[2020-02-20 10:30] lauxjpn commented on #34
The .NET Core team makes a patch release available about once a month, so should be fine.

[2020-02-20 10:37] bubibubi commented on #34
@lauxjpn you are a member of the devops project https://dev.azure.com/bubibubi/EntityFrameworkCore.Jet

[2020-02-20 20:56] FreddyD-GH commented on #34
@bubibubi is there a reason to prefer using the SQL Server provider tests over the Sqlite provider tests?  On the surface, it seems like the Sqlite provider tests might be a better baseline to port over, but it's hard for me to say before I dig into it.

Link for my reference: https://github.com/dotnet/efcore/tree/release/3.1/test

[2020-02-20 21:06] lauxjpn commented on #34
@FreddyD-GH Generally, the SQL Server syntax (including the `[delimiters]`) should be closer to MS Access than Sqlite.
Are you migrating the SQL Server 2.2.6 tests or the SQL Server 3.1 tests?

[2020-02-20 21:10] bubibubi commented on #34
SQL Server Is the most similar provider.
SQL Lite queries are different and SQL Lite does not support migrations.
We could use some ports from SQL Server CE but if we find issues using SQL Server tests.

[2020-02-20 22:11] lauxjpn commented on #34
@FreddyD-GH Be aware that the tests should only be migrated/updated **after** the code base migration from 2.2 to 3.1, because the EF Core query pipeline got completely rewritten between 2.2.6 and 3.0.0 and most tests heavily depend on the new query pipeline (which handles many cases slightly differently).

So the general upgrade roadmap is:
1. Upgrade the code base to 3.1 and make it compile.
2.

[2020-02-21 07:59] FreddyD-GH commented on #34
@lauxjpn Okay, I will take that under consideration.  Seems like you have way more experience writing these providers than I do, but I am definitely planning to at least take a look at things regardless.  I'll let you know where I stand before the beginning of next week.

[2020-02-21 08:38] bubibubi commented on #34
@lauxjpn I agree with you.
The port should be done by one person. It should take few days.
About tests we could split the work.
Some tests must be disabled.
Some tests must but fixed
Some tests require code fixing.
The third case could be handled by one person . The other cases can be shared (for example 1 project per person or 1 class per person)
In my previous experience

[2020-02-21 08:57] lauxjpn commented on #34
Yes, after the basic upgrade of the provider and test code base is done, meaning it does compile, we can all work together on making it stable and as much tests green as possible.

I suggest that commits should only be added as PRs and should stay open at least 24h, so that they can be reviewed, if somebody has the time.

We should get first alpha versions out before we have completed going throug

[2020-02-22 08:56] FreddyD-GH commented on #34
@lauxjpn I was expecting to have a bunch of free time over the past couple days, but I got very busy, so I did not get much of anything done in regards to upgrading to EF Core 3.1.  If you are going to be able to start next week, I will just let you handle the EF Core 3.1 stuff.  I think I will focus more on the .NET Core compatibility situation for System.Data.Jet/System.Data.OleDb and try to rep

[2020-02-22 09:05] lauxjpn commented on #34
@FreddyD-GH Thanks! I will go ahead then with the upgrade.

[2020-02-28 22:38] kurt-o-matic opened #40 "Method 'get_Info' does not have an implementation."
When spinning up a little demo console app (.NET 4.8, EntityFrameworkCore 3.1.2, EntityFrameworkCore.Jet 2.2.0), and using the BloggingContext sample code here on the GitHub Wiki, the Add-Migration command results in the following error:
[code]
I'm happy to fall back to earlier framework/library version or use another work-around to fix migration. Thanks for your efforts and attention!

[2020-02-28 23:00] FreddyD-GH commented on #40
I believe this is trying to call an API that was added in EFCore 3.0.  EntityFrameworkCore.Jet currently only works with EFCore 2.2 for the moment.  @lauxjpn is currently working on upgrading the project to EFCore 3.1, but I don't believe he currently has an ETA for that.  To use EntityFrameworkCore.Jet in its current form, I would suggest downgrading the EntityFrameworkCore 3.1.2 package referenc

[2020-02-29 00:41] lauxjpn commented on #40
@FreddyD-GH is right. This is the usual error you get when trying to use a EF Core 2.2 provider with EF Core 3.x.

I am about half way done with upgrading the provider code to 3.1.x and I will put in some hours over the weekend. We should be able to have a nightly build of this ready around the end of the upcoming week. (Though it will also depend a bit on the open `System.Data.OleDb` bugs or whet

[2020-02-29 00:41] #40 closed

[2020-02-29 02:12] kurt-o-matic commented on #40
Thanks so much!

I took a guess and rolled back to EFC 2.2.6, since that looked like an
appropriate vintage. I then had to roll Microsoft.EntityFrameworkCore.Tools
back to 2.2.6, and then finally upgrade Microsoft.Extensions.Options up to
3.1.2, but at that point everything worked.

👍

Thanks for all your work on this project! After 25 years, you'd think I
would be done with MS Access, but every f

[2020-03-01 17:35] lauxjpn commented on #34
Short update: I have upgraded every aspect of the provider code except the actual query pipeline so far.
The query related stuff should be done by Wednesday.

[2020-03-01 17:47] lauxjpn commented on #32
There is a [StackOverflow answer](https://stackoverflow.com/a/27944411/2618319) about this issue.

[2020-03-08 22:10] lauxjpn commented on #34
There was a bit of delay this week, so I wasn't able to attend to the query pipeline until today.
We have a compiling provider now. I will push a WIP PR tomorrow.

[2020-03-08 23:35] FreddyD-GH commented on #34
@lauxjpn Good to hear.  A fix for the transaction issue in System.Data.OleDb was just merged less than 24 hours ago, so you should be able to update the Nuget package reference to the latest version from the nightly feed and have something that you can try on .NET Core x64.  I am not aware of any other bugs currently for x64.  Unfortunately, I believe .NET Core x86 will still have some issues resu

[2020-03-09 14:36] bubibubi commented on #34
Great!!!
About tests, I think we could delete all the tests excluded EFCore.Jet.Integration.Test
This tests are very simple tests that I used to see if everything were working fine from top to bottom.

[2020-03-09 16:32] lauxjpn commented on #34
So you mean we should delete all tests except the ones from `EFCore.Jet.Integration.Test`, then copy the SQL Server tests into the solution and start over from there?

[2020-03-09 17:22] bubibubi commented on #34
I think so...
`EFCore.Jet.Integration.Test` "must" run properly before any release. They are very stupid tests I wrote when I first wrote EF 6 provider. This could be your work.
Actually I don't know how many test projects are included with SQL Server. You could include the tests then I could take a project then start to help you.

About tests I have also a suggestion. OleDb + OleDb Provider somet

[2020-03-09 21:13] FreddyD-GH commented on #34
@bubibubi  To be clear, when you say delete all the tests, you are referring to the EFCore-specific ones (in other words, the System.Data.Jet.Test project should be kept)?

In regards to running the tests on CI, the System.Data.OleDb library actually had a similar problem and I found that doing a manual GC.Collect() in between test runs forced certain resources to be released immediately.  For the

[2020-03-09 21:48] bubibubi commented on #34
Yes.
We need to keep integration tests and System.Data.Jet.Test

I think that the issues are also on the Microsoft OleDb Provider for access. Anyway, after disposing the connection I often use

    GC.Collect();
    GC.WaitForPendingFinalizerss();
    GC.Collect();

[2020-03-16 08:54] francescomazzurco commented on #34
Hi all,
Are you publishing the nightly builds on some nuget feed? I could test them on some projects that I am porting to .NET Core 3.1.
In any case, thank you for all the effort you're committing into this upgrade!

[2020-03-17 16:06] lauxjpn commented on #34
There is no nightly build feed yet, but there will be one within the next two weeks.
I am polishing the work on the tests right now (making sure they run as they should, not that they are necessary green) and will push them shortly.

[2020-03-21 11:59] FreddyD-GH commented on #34
@lauxjpn FYI, I actually took a look at the x86 issues in System.Data.OleDb and submitted a PR on dotnet/runtime with my changes.  It's not merged yet, (and I'm hoping to have them get a few tests integrated with their CI pipeline), but otherwise, it'll hopefully unblock the x86 case soon.  The PR is tracked at https://github.com/dotnet/runtime/pull/33899.  However, looks like the earliest it woul

[2020-03-21 17:37] lauxjpn commented on #34
@FreddyD-GH Good job!

I will update the PR today with the upgraded tests. We can merge then.

I hadn't too much time over the last few days, but I did some work on the test to ensure, that most simple queries should work. We will still need to spend some time though, to modify the existing baseline (using regular expressions) for Jet.

As expected, with automatic client-side evaluation out of the

[2020-03-22 13:20] FreddyD-GH opened #43 "System.AccessViolationException with CI Builds"
Starting a separate issue for conversation that began with:
https://github.com/dotnet/runtime/pull/33899#issuecomment-602122479

@lauxjpn @bubibubi  Does anyone know if GitHub would allow us to move the comments from that PR into this issue instead, or do we have to manually copy/paste each one?

[2020-03-22 19:32] lauxjpn commented on #43
Copy & paste is the way to go here.

[2020-03-22 23:26] FreddyD-GH commented on #43
**Comments copied from the dotnet/runtime PR:**

When running some of our `EFCore.Jet.FunctionalTests` with the latest nightly-build `5.0.0-preview.3.20171.3` of `System.Data.OleDb`, the test host often crashes in a non-deterministic fashion (it did with previous nightly-builds as well).

As it turns our, the underlying cause is the following `System.AccessViolationException` exception, so it make

[2020-03-22 23:48] FreddyD-GH commented on #43
I'm wondering if [Marshal.AreComObjectsAvailableForCleanup](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.marshal.arecomobjectsavailableforcleanup?view=netcore-3.1) would be helpful in this situation.

I've never had to use this method before, but I think the documentation suggests that you'd use it like this:
[code]

I believe @bubibubi said he is already using `GC.Co

[2020-03-23 01:24] lauxjpn commented on #34
I propose that we call unstable releases (and their  `alpha` or `unstable` instead of `preview`, because people tend to correlate `preview` releases with the .NET Core preview releases upstream.

[2020-03-23 01:32] lauxjpn commented on #43
I will dig deeper into this issue, now that the general upgrade is done.

First, I am going to build a scenario that is simpler and more flexible to debug than the xUnit test suit, and that is able to trigger the exception in a more reliable manner.

Then I will try the `Marshal.AreComObjectsAvailableForCleanup()` suggestion and see if that has an effect

Finally, I will take a look at the process

[2020-03-23 02:28] FreddyD-GH commented on #34
Using `alpha` instead sounds good to me.

[2020-03-23 13:35] lauxjpn commented on #43
I created the smallest possible sample to reproduce the `AccessViolationException`.

* The exception will only be thrown when run as an `x64` process.
* The exception should be thrown at least once in every 5 app executions.
* I tested with `Microsoft.ACE.OLEDB.16.0` and `Microsoft.ACE.OLEDB.12.0`. Both will throw the exception (v16 usually very early, when still below 10 iterations; v12 usually a

[2020-03-23 14:02] FreddyD-GH commented on #43
@lauxjpn Is this on .NET Core only? Or does it happen with .NET Framework as well?

[2020-03-23 15:32] lauxjpn commented on #43
The exception is being thrown in a .Net 4.7.2 project using the .NET Framwork version of OleDb and running in a 64 bit process as well:

[code]

[2020-03-23 23:08] FreddyD-GH commented on #43
@lauxjpn FYI, I tried the code you provided and was able to reproduce the behavior.  I've seen a good number of cases like this where having resources that aren't cleaned up properly is the culprit, but that doesn't appear to apply in this situation (at least not on the managed side).  I didn't get a chance to really dig into it, though.

As far as ODBC, I ended up trying that on a .NET Core proje

[2020-03-24 01:56] lauxjpn commented on #43
@FreddyD-GH I will test a parallel implementation, where people can choose which of the two technologies to choose as their base. Most of the code has already been abstracted away by @bubibubi, so the implementation cost should be relatively low.
Assuming we strife for [SemVer](https://semver.org/) compliance, the current major version upgrade would be the ideal point in time to change the default

[2020-03-24 07:19] bubibubi commented on #43
As far as I remember we can't avoid to use OleDb because we risk to loose code from DB features.
Microsoft Access does not have (sorry, has few) system tables so we need to retrieve data structures using OleDb or ODBC features (or ADOX but is not always installed and works only on 32 bits am I right?). Probably with ODBC is not possible at all.
About parameters, another issue, we could solve it in

[2020-03-24 07:26] lauxjpn commented on #43
I will take a closer look at that. Generally, the `GetSchema` method is available for ODBC as well, but I will check its implementation.

That is a good point.

[2020-03-24 07:28] bubibubi commented on #43
@lauxjpn I updated the comment sorry. I think that we can't retrieve the tables list.

[2020-03-24 07:50] lauxjpn commented on #43
@bubibubi No Problem. I will take a closer look at this, but I am very confident, that we will be able to get the table list from ODBC. If this should turn out to be not possible for some reason, we can always get it directly from the `MSysObjects` table.

ADOX is part of the Windows DAC, a modern version of the traditional MDAC, that ships as part of windows. You can find the x86 version of ADOX

[2020-03-24 08:07] bubibubi commented on #43
@lauxjpn there is a small issue about `MSysObjects` and `MSysRelationship`. The user does not have enough rights to select from it.
Just to remember a solution I copied this workaround
Run from Access Immediate Window this statement.
CurrentProject.Connection.Execute "GRANT SELECT ON MSysRelationships TO Admin"

[2020-03-25 07:42] lauxjpn commented on #43
We can use the [OdbcConnection.GetSchema Method](https://docs.microsoft.com/en-us/dotnet/api/system.data.odbc.odbcconnection.getschema?view=netframework-4.8#System_Data_Odbc_OdbcConnection_GetSchema_System_String_System_String___).

It can be used like in the following line, to get the table schemas:

[code]

It can also be used in conjunction with restrictions:

Further information:
* [Retrieving

[2020-03-25 08:00] bubibubi commented on #43
I think we should do a proof of concept.
There are several issues related to, for example, OleDb and union queries (you can find quite "strange" code in System.Data.Jet.DataReader about conversions from array of bytes to numbers) that we could see if we can solve them with ODBC.

About retrieving schema, I can't remember the issues (it's a work I've done around 2013 for the first EF 6 provider) bu

[2020-03-25 08:03] bubibubi commented on #43
About **AccessViolationException** did you try to run tests **disabling connection pooling**? I've implemented a connection pooling inside System.Data.Jet because I had some issues with OleDb connection pooling. We could check if now OleDb connection pooling works fine and remove System.Data.Jet connection pooling implementation

[2020-03-25 08:13] lauxjpn commented on #43
Yes, its one of the first things I checked, because of my previous post on [StackOverflow](https://stackoverflow.com/a/47145747/2618319). It made no difference.

I just extended the `System.Data.Jet` to support both, ODBC and OLE DB. I will do some testing with this today.

[2020-03-25 09:28] bubibubi commented on #34
I've done some fixes to JetDataReader related to UNION queries.
Probably we should merge them to the new branches before start fixing the tests.

[2020-03-25 09:33] bubibubi commented on #43
I mean the System.Data.Jet implementation of connection pooling. It's not implemented in JetEntityFrameworkProvider

[2020-03-25 09:44] bubibubi commented on #43
About Jet/ACE provider for OleDb, there is an issue related to the wrong data type determined in union queries when you use const values, for example

[code]

If `mycolumn` is a numeric (DateTime/bool) data type, OleDb can't determine the right value.
In some cases this workaround worked so it's implemented on JetEntityFrameworkProvider.

I think that it could be related to this issue (also if in

[2020-03-25 11:57] lauxjpn commented on #43
Yes, the first `SELECT` statement needs to have the proper types and names.

Well, something in the `UNION` handling in combination with another query that only uses scalar values is definitely off.
Maybe wrapping the `UNION` statement inside of an outer `SELECT` statement could mitigate this problem (I haven't tested this yet):

[code]

We should do this anyway in our SQL generation, because Jet/

[2020-03-25 12:09] lauxjpn commented on #34
@bubibubi Nice one! BTW, Jet did not support any `Int64` values until very recently (Access 2016, large numbers; when explicitly activated, the `accdb` file cannot be read anymore by version prior to Access 2016).

The Jet type `long` is just a synonym for `integer` (or its other aliases like `int` etc.) and is 32 bit (`Int32`). You might want to check your EF 6 provider code for that, because I f

[2020-03-26 03:39] lauxjpn commented on #43
Are we fine with referencing the preferred data access api package (e.g. `System.Data.Odbc`) for the `System.Data.Jet` project and use it as the default?

It would mean, that the user would need to do nothing additionally to run Jet in the default configuration. It would also mean, that if he wants to use another data access api (e.g. `System.Data.OleDb`), he would need to reference it too, so he

[2020-03-26 06:51] bubibubi commented on #43
My opinions:
Actually I prefere an out of the box approach.
I really don't like to reference unused libraries

--
If we have to choose a library, as a user of the EF, for me the worst issues were abouts
1. Jet/ACE decimal bug (I could not make it works using oledb on all system also using @lauxjpn suggestions)
2. UNION queries

I think that also Code from DB is a must, I've done it for other datab

[2020-03-26 08:10] lauxjpn commented on #43
If we use a multi-package approach, we would have 3 packages (which is fine):
* `EntityFrameworkCore.Jet`
* `EntityFrameworkCore.Jet.Odbc`
* `EntityFrameworkCore.Jet.OleDb`

But we should be able to archive the same with just our main package and making it mandatory for the user to choose a data access api (this is how I have implemented it at the moment).

I will push a PR with this approach shor

[2020-03-26 13:36] lauxjpn commented on #43
Interestingly, we could actually just deduce the data access api from the connection string style.

[2020-03-27 11:24] lauxjpn opened #45 "Implement parallel support for ODBC and OLE DB"
Continues the discussion around this feature from #43.

[2020-03-27 13:59] lauxjpn commented on #45
For all advanced statements (like `CREATE VIEW` or `CREATE PROCEDURE`) to work with ODBC, `ExtendedAnsiSQL=1` has do be added to the connection string (see [Using the ExtendedAnsiSQL Connection String Attribute (Access Driver)](https://docs.microsoft.com/en-us/sql/odbc/microsoft/using-the-extendedansisql-connection-string-attribute-access-driver?view=sql-server-ver15) for further details).

We sho

[2020-03-28 08:43] lauxjpn commented on #45
I am going to add support for automatic provider/driver detection, so that just specifying a database name will use the newest installed database provider/driver.

[2020-03-28 15:23] lauxjpn commented on #45
In the future, we should consider refactoring the ODBC/OLE DB conditionals into their own self-contained classes, and ship them as `EntityFrameworkCore.Jet.Odbc` and `EntityFrameworkCore.Jet.OleDb`, that could then be discovered by `EntityFrameworkCore.Jet` at runtime.

[2020-03-28 15:53] lauxjpn commented on #43
As for the `AccessViolationException` on x64, I will test this again on a vanilla VM with just an ACE x64 installed and nothing else, to make sure that this is not connected to a parallel installation of ACE x86 and x64 (which is a common environment for us here, but is not officially supported).

I will also do a test with my dusty C++ compiler directly against the COM interfaces. With this test

[2020-03-29 09:22] lauxjpn commented on #45
Implemented in 84aafe4 of #47.

[2020-03-29 10:56] bubibubi commented on #45
I looked at the code. There are still square brackets around (at least in RemoveBrackets method). Probably we could just find **[** and replace (or, better, cover with tests because as far as I can understand all the tests work fine now).

[2020-03-29 11:44] lauxjpn commented on #45
Thanks, I missed a couple of those! I checked the `EFCore.Jet` and `System.Data.Jet` projects and fixed the remaining occurrences. (See 6141f1e of #47).

[2020-03-29 11:49] bubibubi commented on #45
@lauxjpn WHAT A HUGE WORK!!! Great!!!

[2020-03-29 11:54] bubibubi commented on #45
When you think that everything is stable enough tell me something because I'd like to help you on test fixing.

[2020-03-29 12:19] lauxjpn commented on #45
The code should be stable enough after merging #47 (which I am going to do in a couple of hours). We currently have 1110 green, 788 red and 100 skipped tests from the `SimpleQueryJetTest` tests.

[2020-04-28 09:10] Veflow commented on #34
@lauxjpn Is there anything I can do to help at this point? For example, checking tests or?

[2020-05-01 01:53] lauxjpn commented on #34
@Veflow Absolutely. Non working tests need to triaged into those that fail because there is still a bug in the provider and those (most) that fail because of missing support in Jet/ACE (where there is little we can do about it). For the latter category, we need to skip the tests with an appropriate message. There is a `SkipMessages.txt` file, that contains common messages that should be reused if

[2020-05-02 13:07] lauxjpn commented on #34
@Veflow I pushed #48 and #49.

[2020-05-02 14:40] Veflow commented on #34
@lauxjpn thanks for the update, I'll have a look at your commits and see if I can contribute in the coming days

[2020-05-20 14:52] GoldyWang2013 commented on #34
thanks!

[2020-07-29 02:32] ASCSolution commented on #34
Any update on this, please...

[2020-07-29 07:45] lauxjpn commented on #34
@ASCSolution The code is pretty stable. I am using it for months now. Currently, you need to compile it on your own though.
The next step for us should be to setup a CI pipeline and publish a preview/wip release. I will see to it shortly.

[2020-07-29 08:07] lauxjpn commented on #34
@bubibubi Please make me either a member of the "Project Collection Administrators` of the `bubibubi` organization in AZDO, or of the `Project Administrators` group of the `EntityFrameworkCore.Jet` project in AZDO.

[2020-07-29 10:07] ASCSolution commented on #34
@lauxjpn : I have tried with EF Core 3.1.3 and faced error: "System.Data.OleDb.OleDbException (0x80040E10): No value given for one or more required parameters." Could you give me some advice?
Note: I used your provider with ASPNET BoilerPlate fw.

[2020-07-29 10:25] lauxjpn commented on #34
@ASCSolution How does your `.UseJet()` call (and surrounding code) look like?

[2020-07-29 10:49] ASCSolution commented on #34
Here is my DbContext
[code]

My connectionString
`Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\\\Server03\\Trunggian.mdb;Jet OLEDB:Database Password=password;`

This is my DbContextConfigurer
[code]

Init
[code]

My test code to get all record from PAYORDER table
`var test = _payOrderRepository.GetAll().ToList();
`

Full stack trace
[code]

[2020-07-29 15:05] bubibubi commented on #34
@lauxjpn you should already be an administrator for EntityFrameworkCore.Jet.
https://dev.azure.com/bubibubi/EntityFrameworkCore.Jet
Aren't you?

[2020-07-29 15:11] lauxjpn commented on #34
@bubibubi No, I am currently only a member of the `[EntityFrameworkCore.Jet]\EntityFrameworkCore.Jet` team, which is a member of `[EntityFrameworkCore.Jet]\Contributors`. I will need to be a member of `[EntityFrameworkCore.Jet]\Project Administrators` group.

[2020-07-29 15:14] lauxjpn commented on #34
@ASCSolution The configuration looks good as far as I can see. Please still add the Linq query and the generated SQL query (logged by EF Core).

[2020-07-29 17:02] bubibubi commented on #34
@lauxjpn now should be ok.

[2020-07-29 17:35] lauxjpn commented on #34
@bubibubi Thanks, looks good now!

About the AZDO pipeline, just tell when you either have created the pipeline or have switched your account into an organization (or have created a new organization and transferred the repo to it), so I can setup the CI.

[2020-07-30 03:06] ASCSolution commented on #34
@lauxjpn I have tried to use LINQ queries directly and it worked. So I think the issue comes from IRepository of ABP fw.

What I have tried:
[code]

`testSql1` and `testSql2` are the same query and I can copy it to run in MS Access. No problem with the generated query.

I can get data result from `test2` but cannot get from `test1`.

This is the stack trace when get the result from `test1`
[code]

[2020-07-30 07:22] lauxjpn commented on #34
In this case, please post both, the SQL query generated by the ABP repository and the SQL query generated directly by the context.
Because it is unclear at the moment, whether the error comes from a wrongly supplied parameter or from a wrongly formatted query, it is important that you post the queries that are being **logged by EF Core, not using the `ToSql()` method**. (The `ToSql()` queries are

[2020-07-30 07:33] lauxjpn opened #52 "System.Data.OleDb.OleDbException (0x80040E10): No value given for one or more required parameters - (ADB repository using WIP release with EF Core 3.1.3)"
@lauxjpn : I have tried with EF Core 3.1.3 and faced error: "System.Data.OleDb.OleDbException (0x80040E10): No value given for one or more required parameters." Could you give me some advice?
Note: I used your provider with ASPNET BoilerPlate fw.

_Originally posted by @ASCSolution in https://github.com/bubibubi/EntityFrameworkCore.Jet/issues/34#issuecomment-665571822_

---

@ASCSolution How does

[2020-07-30 07:35] lauxjpn commented on #52
Here is my DbContext
[code]

My connectionString
`Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\\\Server03\\Trunggian.mdb;Jet OLEDB:Database Password=password;`

This is my DbContextConfigurer
[code]

Init
[code]

My test code to get all record from PAYORDER table
`var test = _payOrderRepository.GetAll().ToList();
`

Full stack trace
[code]

_Originally posted by @ASCSolution in https://github.c

[2020-07-30 07:35] lauxjpn commented on #52
@ASCSolution The configuration looks good as far as I can see. Please still add the Linq query and the generated SQL query (logged by EF Core).

_Originally posted by @lauxjpn in https://github.com/bubibubi/EntityFrameworkCore.Jet/issues/34#issuecomment-665725532_

[2020-07-30 07:36] lauxjpn commented on #52
@lauxjpn I have tried to use LINQ queries directly and it worked. So I think the issue comes from IRepository of ABP fw.

What I have tried:
[code]

`testSql1` and `testSql2` are the same query and I can copy it to run in MS Access. No problem with the generated query.

I can get data result from `test2` but cannot get from `test1`.

This is the stack trace when get the result from `test1`
[code]

[2020-07-30 07:36] lauxjpn commented on #52
In this case, please post both, the SQL query generated by the ABP repository and the SQL query generated directly by the context.
Because it is unclear at the moment, whether the error comes from a wrongly supplied parameter or from a wrongly formatted query, it is important that you post the queries that are being **[logged](https://docs.microsoft.com/en-us/ef/core/miscellaneous/logging) by EF C

[2020-07-30 07:37] lauxjpn commented on #34
@ASCSolution I moved everything related to your issue to #52.

[2020-08-01 10:06] lauxjpn commented on #34
@bubibubi Creating the pipeline should take less than five minutes.

[2020-08-04 18:56] bubibubi commented on #34
I set up the pipeline with your yaml file (merged to master). Shoud it works? Because it's not restoring NuGet packages.

[2020-08-05 15:08] lauxjpn commented on #34
@bubibubi Looks good, the CI triggers.

No, the current yaml file was just something simple to test with:

I will setup the actual yaml over the next few days.

[2020-08-25 16:38] ChrisJollyAU opened #55 "OleDbConnectionStringBuilder.TryGetValue() throws when scaffolding as x86 using a System.Data.OleDb version <= 4.7.1"
Using the 3.1-preview branch I was trying to scaffold a  ms access .mdb database.

Using the -verbose option the log would go to

Finding design-time services for provider 'EntityFrameworkCore.Jet'...
Using design-time services from provider 'EntityFrameworkCore.Jet'.
Finding design-time services referenced by assembly 'Assembly'.
No referenced design-time services were found.
Finding IDesignTimeS

[2020-08-25 16:42] ChrisJollyAU opened #56 "Unknown system table"
Using 3.1-preview branch

Trying to scaffold an .mdb database and it errors out without finishing the scaffolding

I'm getting "Unknown system table" for both ConstraintColumns and ForeignKeys

Is it possible to skip over/ignore those system tables?

[2020-08-25 16:52] ChrisJollyAU opened #57 "Scaffolding complex table indexes"
Using 3.1-preview

Is it possible to have a table with index over multiple columns?

So e.g. in code it would look like this

protected override void OnModelCreating(ModelBuilder modelBuilder)
{
    modelBuilder.Entity<Person>()
        .HasIndex(p => new { p.FirstName, p.LastName });
}

I appear to have a .mdb database that has something like this defined and scaffolding it is not working properl

[2020-08-25 17:15] ChrisJollyAU opened #58 "Scaffolding is converting to the wrong data type"
Using 3.1-preview branch and OleDb

My database has been scaffolding successfully however in the classes for the tables have the wrong data types. Fields that should be a datetime (and is shown as a Date/Time in Access) are actually scaffolded as a decimal. Other fields that are an integer are scaffolded as a boolean.

It looks like you matching against the wrong values in ConvertToJetDataType

Fo

[2020-08-25 17:19] lauxjpn commented on #55
I completely reimplemented the schema retrieval and scaffolding code two weeks ago. I will push the PR today.

[2020-08-25 17:22] lauxjpn commented on #56
See https://github.com/bubibubi/EntityFrameworkCore.Jet/issues/55#issuecomment-680160106
Please try again with once the PR has been merged.

[2020-08-25 17:23] lauxjpn commented on #57
See https://github.com/bubibubi/EntityFrameworkCore.Jet/issues/55#issuecomment-680160106
Please try again once the PR has been merged.

[2020-08-25 17:24] lauxjpn commented on #58
See https://github.com/bubibubi/EntityFrameworkCore.Jet/issues/55#issuecomment-680160106
Please try again once the PR has been merged.

[2020-08-25 17:27] ChrisJollyAU commented on #58
Thanks. Will keep an eye out for the PR. I will note that I believe I have fixed/found a solution for the problems based on the current code

[2020-08-25 20:18] lauxjpn commented on #55
@ChrisJollyAU The PR has now been merged into `3.1-preview`. Please try your issues again and report back. If any issues are still present, we will investigate them further.

[2020-08-26 12:06] lauxjpn commented on #34
@bubibubi You need to change the visibility of the `EntityFrameworkCore.Jet` AZDO project from `Private` to `Public`, so that I can setup a public artifact feed (see [Change the project visibility, public or private](https://docs.microsoft.com/en-us/azure/devops/organizations/public/make-project-public?view=azure-devops)).

Since you haven't made me a member of the `[bubibubi]\Project Collection A

[2020-08-26 14:07] ChrisJollyAU commented on #55
Tried with the latest bits. It's still freezing after No design-time services were found.

If I end the dotnet task (no matter how long I wait after it gets to that point), the error is shown as follows

No design-time services were found.
Fatal error. Internal CLR error. (0x80131506)
   at System.Runtime.InteropServices.Marshal.PtrToStructureHelper(IntPtr, System.Object, Boolean)
   at System.Dat

[2020-08-26 14:20] ChrisJollyAU commented on #58
The updated bits scaffold the datatypes correctly

[2020-08-26 14:20] #58 closed

[2020-08-26 14:25] ChrisJollyAU commented on #56
Seems to be solved with that update you did. The classes are generated and the Foreign Keys and their navigation properties appear correctly.

Haven't tested if the navigation properties actually work yet

[2020-08-26 14:26] ChrisJollyAU commented on #57
I can confirm that the complex indexes are dealt with as expected

[2020-08-26 14:26] #57 closed

[2020-08-26 18:34] lauxjpn commented on #55
What is the version of `System.Data.OleDb` you are referencing in your `.csproj` file? Also, what is the exact connection string you are using in your scaffolding command?

It might also help, if you can provide us with the database you are trying to scaffold.

[2020-08-27 11:08] ChrisJollyAU commented on #55
System.Data.OleDb: 4.7.1
.Net Core SDK: 3.1.401 (x86)
.Net Core runtime: 3.1.7
Scaffold command: Scaffold-DbContext -Connection "Provider=Microsoft.Jet.OLEDB.4.0;Data Source='z:\Folder Path\recent.mdb';" -Provider EntityFrameworkCore.Jet -OutputDir RMModel -verbose

[2020-08-27 12:57] lauxjpn commented on #55
@ChrisJollyAU You are running the command on a 32 bit system?

[2020-08-27 13:44] ChrisJollyAU commented on #55
64 bit. But the SDK, runtime, Jet driver and program are all set for 32 bit

[2020-08-27 13:57] lauxjpn commented on #55
Alright, I am able to replicate this issue on a 32 bit Windows installation.

[2020-08-27 14:15] lauxjpn commented on #55
This is the underlying issue here. We are using the `OleDbConnectionStringBuilder.TryGetValue()` method.

Looks like the PR by @FreddyD-GH (https://github.com/dotnet/runtime/pull/33899) still hasn't made it into a public release.

@saurabh500 @danmosemsft Shouldn't have this gone into a servicing release months ago?

(From https://github.com/dotnet/runtime/pull/33899#issuecomment-605521129)

[2020-08-27 14:24] lauxjpn commented on #55
@ChrisJollyAU If you want to use OLE DB as the data access method, make sure to use one of the preview releases of `System.Data.OleDb`. One of the earliest that had the fix was `5.0.0-preview.3.20178.1`, while the current one is `5.0.0-preview.8.20407.11`.

Otherwise, use ODBC, which seems to be much more stable than OLE DB when accessed by .NET and when accessing a Jet database, due to a variety

[2020-08-27 14:59] ChrisJollyAU commented on #55
It's only having a problem with User Id, Password and possibly System Database

Workaround 1: Specify a non-empty value in the connection string

If you just specify `User Id=admin;` in the connection string it gets passed that but hangs at the same place for the password

If you add `User Id=admin;Password=a;` in the connection string it gets passed both but does error on the system database with

[2020-08-27 15:05] ChrisJollyAU commented on #55
Workaround 2: Update the GetUserId function with the follwoing

`if (builder.ContainsKey("user id"))
            {
                return builder.TryGetValue("user id", out var value)
                ? (string)value
                : null;
            }

            if (builder.ContainsKey("uid"))
            {
                return builder.TryGetValue("uid", out var value)
                    ?

[2020-08-27 15:19] lauxjpn commented on #55
@ChrisJollyAU See my comment from above:

[2020-08-27 15:47] ChrisJollyAU commented on #55
`5.0.0-preview.8.20407.11` does work fine for that problem. Looks like you're going to need to make 5.0.0 the min required version for your packages

[2020-08-27 15:51] ChrisJollyAU opened #61 "System.InvalidCastException: 'Object cannot be cast from DBNull to other types.'"
I'm getting this error when trying to access one of my tables from the DbContext

Stacktrace is

 	[External Code]
 	System.Data.Jet.dll!System.Data.Jet.JetDataReader.GetDouble(int ordinal) Line 125	C#
 	[External Code]
 	RMSync2.dll!RMSync2.Program.Main(string[] args) Line 23	C#

[2020-08-27 16:36] lauxjpn commented on #61
Please post either the table's create statement or the mdb/accdb file.
Also post the model class (and any model definition like Fluent API if used) and the LINQ query you are trying to execute.

[2020-08-27 17:36] ChrisJollyAU commented on #61
Further debugging. This is not a bug in the provider

All the columns in the table were defined as not nullable. Scaffolding agreed with that definition and the classes were fine.

However somehow or other (and I can't explain it either) for a single row 2 of the columns (a double and a bit) didn't have a value. Fixing it sorts the issue out

[2020-08-27 17:40] lauxjpn commented on #61
Yeah, I reproduced it in the same way:

[code]

[2020-08-27 18:07] ChrisJollyAU commented on #61
That would do it as well. I think in my case it was partially due to a recovered corrupt database. Was trying to compare 2 database to discover the differences.

Should there be any handling added to return a default value if it cant read the value?

[2020-08-27 19:13] lauxjpn commented on #61
The provider will always assume a valid database that is in sync with the model definition. If the database schema or data is not what is expected, than neither the integrity of the database itself nor correct database operations on it by the application can be ensured anymore. Therefore throwing should already be the correct approach here.

[2020-08-28 10:26] lauxjpn commented on #61
I did a check on how Access handles data violation cases. If you create a table with a nullable column `Price`, then insert some data that includes a `NULL` value for at least one of the `Price` values and later change the table schema for the `Price` column to be non-nullable, Access will show you the following prompt:

![image](https://user-images.githubusercontent.com/14178357/91549731-a89bca80

[2020-08-28 10:40] ChrisJollyAU commented on #61
A couple of things:
 -Would it be worth adding an advanced option of something like `JetConfiguration.IgnoreDBNullConversionErrors = true;` That way you keep the normal behaviour but if you know what you're doing and acknowledge that you could have default values if it can't read the value. Basically saying give me what you can read

- Might have a look at doing that data integrity check. Could co

[2020-08-28 10:42] ChrisJollyAU commented on #56
Navigation properties work as expected. Works fine to `Microsoft.EntityFrameworkCore.Proxies` for the lazy loading of the navigation properties

[2020-08-28 12:28] lauxjpn commented on #61
I guess with Access actively allowing users to violate their data integrity, introducing an option to return a default value for an unexpected `DBNull` value (for non-nullable types) might be a good idea.

As a heads-up, for the `3.1.x` release we will remove the static `JetConfiguration` class and move its options to `JetConfiguration`, EFCore.Jet specific connection string options and `DbContext

[2020-09-02 10:29] lauxjpn commented on #56
I'll close this one then.

[2020-09-02 10:29] #56 closed

[2020-09-02 10:33] lauxjpn commented on #34
@bubibubi Please just make me a member of the AZDO organization group `[bubibubi]\Project Collection Administrators`. This is standard procedure for main contributors/lead developers. The way it currently is, is just too inefficient.

[2020-09-05 10:01] lauxjpn commented on #34
@bubibubi I fully understand that life and real-world projects can occupy time fast, and that it is not always possible to spend much time on open source projects. However, this is exactly one of the main points, why you need to expand to share the responsibility over the project with the community.

When I have time for EFCore.Jet, it's usually just a few hours, so if I have to wait for over a we

[2020-09-05 10:31] bubibubi commented on #34
Sorry!
I already programmed this activity for Sunday night, Monday early morning

[2020-09-05 10:59] lauxjpn commented on #34
@bubibubi Glad to have you back!

[2020-09-06 14:57] bubibubi commented on #34
@lauxjpn  sorry for my absence. Please, check if now the setup is ok

[2020-09-07 11:56] lauxjpn opened #62 "Convert account into an organization or create a new organization and move the project to it"
This is a follow-up to the discussion under #34.

@bubibubi Please also set aside some time in the near future (within the next two weeks or so), to either convert the GitHub `bubibubi` account into a GitHub organization (which would mean you would need to move unrelated projects to a new personal account) or to create a new GitHub organization and move `EntityFrameworkCore.Jet` to it (in which ca

[2020-09-07 11:59] lauxjpn commented on #34
@bubibubi Looks good now, I will try it shortly (probably tomorrow). I still have to complete some Pomelo related work today.

[2020-10-04 04:03] horseyhorsey commented on #52
@lauxjpn Not all tables will give me this error using Linq. To get around that linq.select works.

Not sure how to check which column gives me issues in a table. Originally the table was scaffolded from older version 2.2 and I have Config for each table.

[2020-10-04 04:22] horseyhorsey commented on #52
I found an `unmapped` property on the table. After adding `entity.Ignore(x => x.MyUnmappedProp);` in the builder it's fine.

[2020-10-04 07:32] #52 closed

[2020-10-12 02:34] dmitrybv opened #66 "warning NU1701: Package 'EntityFrameworkCore.Jet 2.2.0' was restored using"
Hello
When I try to use EntityFrameworkCore.Jet in net5.0 application it gives next warning.

Users.csproj : warning NU1701: Package 'EntityFrameworkCore.Jet 2.2.0' was restored using '.NETFramework,Version=v4.6.1, .NETFramework,Version=v4.6.2, .NETFramework,Version=v4.7, .NETFramework,Version=v4.7.1, .NETFramework,Version=v4.7.2, .NETFramework,Version=v4.8' instead of the project target framework

[2020-10-12 12:58] lauxjpn commented on #66
You will need to use the 3.x compatible version of EFCore.Jet, which hasn't been officially released yet. But you can just compile it yourself by using the [3.1-preview](https://github.com/bubibubi/EntityFrameworkCore.Jet/tree/3.1-preview) branch.

I will try to put some time aside this week to at least get i prerelease version into a nightly build feed.

[2020-10-13 07:37] dmitrybv commented on #66
Ok. Thanks.

[2020-10-14 07:26] xoniuqe commented on #34
Are there any updates on this issue to be expected in the next weeks?
I need the Jet-Provider for serious project but would like to use EF-Core 3.1. For now I can settle with version 2.X but in the upcoming months I would prefer to jump to 3.1 to be able to use some other providers.

[2020-10-14 07:31] lauxjpn commented on #34
See https://github.com/bubibubi/EntityFrameworkCore.Jet/issues/66#issuecomment-707104418:

[2020-11-03 03:10] lauxjpn commented on #34
I will have a bit of time on my hands this week and will finally setup both: a nightly build feed and a NuGet publishing process.

@bubibubi Please add my NuGet account `LauXjpn` to the `Owners` list in NuGet for the `EntityFrameworkCore.Jet` package.

[2020-11-03 06:28] lauxjpn commented on #34
@bubibubi Thanks!

[2020-11-04 13:11] xoniuqe commented on #18
Since I could need the fix for this issue, I would volunteer to open a PR with the fix of ckosti, but how can I verify that this does not break something else? The testbase seems to be very fragile and I am not sure if I can rely on it. Any recommandations?

[2020-11-04 15:17] lauxjpn commented on #18
@xoniuqe What version of EFCore.Jet are you using?

In case you are not using the latest bits that are compatible with EF Core 3.1.x, please clone and compile them from the `3.1-preview` branch (or wait a day or two, because we will provide an official alpha this week).

There were a lot of significant changes and fixes for scaffolding and migrations for the 3.1 release.

---

The tests are still

[2020-11-05 08:01] xoniuqe commented on #18
@lauxjpn I was planning on submitting this for the version 2.2, because I do not wan't to use unpublished dependencies on the project I am currently working on.
I also got some issues with migrations in the 3.1-preview version.

But, I will wait for the alpha release and probably merge the fix after that. Concerning the tests I will handle it as you mentioned (this is the answer I anticipated but

[2020-11-05 08:56] lauxjpn commented on #18
@xoniuqe This is what I would suggest. It is theoretically possible to merge the fix for the 2.2.x releases, but EF Core 2.2 has reached EOL anyway and we don't have an automated publishing process for 2.2.

As for the tests, we will be switching for an intermediate solution, where we will add automated checks that ensure, that already working tests will not break, before we have all tests sorted

[2020-11-22 17:02] ChrisJollyAU commented on #61
Finally got round to submitting the pull request to enable the setting

[2020-11-22 17:14] ChrisJollyAU commented on #66
@dmitrybv Any success with using the 3.1-preview branch on net5.0? I did give it a go this weekend and while the main project that was using it compiled I did get some runtime errors (missing references and missing constructors). Admittedly other parts of the project were using ef core 5 while that branch uses ef core 3.1 which obviously doesn't agree. Maybe a combination of net5 and ef core 3 mig

[2020-11-22 18:07] lauxjpn commented on #66
EF Core 3.1 providers are not compatible with EF Core 5.0.

@ChrisJollyAU I take a look at your `net5` branch, once we have finally a GA release for 3.1 out.

[2020-11-25 15:15] xoniuqe opened #69 "GetAppliedMigrations() throws OleDBException"
I am currently playing around with this provider and recently updgraded from the 2.2.X release to the recently merged 3.1.
Until the merge I could use "MyContext.Database.GetAppliedMigrations()" successfully. Now the call raises :

I am using the following configuration for  my context:
[code]

I tried some variations of this configuration:

- With and without `OleDBFactory.Instance`
- With and wi

[2020-11-25 15:19] lauxjpn commented on #69
What does the SQL statement with the syntax error exactly look like?
What migration operation of your migration code is failing?

[2020-11-25 15:22] xoniuqe commented on #69
I am not even running a migration. The error came out of the System.Data.Jet\JetCommand.
The SQL statement was "SHOW TABLES WHERE NAME='__EFMigrationsHistory'".

[2020-11-25 15:25] lauxjpn commented on #69
So what code are you running?
Also, please provide us with the full stack trace.

[2020-11-25 15:36] xoniuqe commented on #69
My Code:
[code]
The full stacktrace: ( I obfuscated some project names but the rest is unchanged)
[code]

[2020-11-25 15:42] lauxjpn commented on #69
Okay, so you _do_ call `context.Database.GetAppliedMigrations();` after all.
Seems to be just the `Microsoft.EntityFrameworkCore.Migrations.HistoryRepository.Exists()` call.
I'll take a look at it.

[2020-11-25 15:47] xoniuqe commented on #69
Yes I call the function, then I have missunderstood you.

[2020-11-25 15:52] ChrisJollyAU commented on #69
It's in https://github.com/bubibubi/EntityFrameworkCore.Jet/blob/master/src/EFCore.Jet/Migrations/Internal/JetHistoryRepository.cs line 46 function ExistsSql

[2020-11-25 15:56] lauxjpn commented on #69
@ChrisJollyAU Yeah, I am already updating the whole file. It is still using the old schema syntax.

[2020-11-25 15:57] ChrisJollyAU commented on #69
Outside of the tests it looks like it's the only place that uses it

[2020-11-25 16:20] lauxjpn commented on #69
I'll have to do a couple more checks about the `IF EXISTS() THEN` and `IF NOT EXISTS() THEN` syntax, and manually test some migrations.

[2020-11-25 21:34] lauxjpn commented on #34
Alright, we finally have a working CI build process, including a [daily build feed](https://github.com/bubibubi/EntityFrameworkCore.Jet#daily-builds) and automatic nuget.org push support for official releases.

Therefore, the EF Core compatible `3.1` _prereleases_ can be accesses now via [daily build feed](https://github.com/bubibubi/EntityFrameworkCore.Jet#daily-builds).

We will also shortly pub

[2020-11-26 09:32] xoniuqe commented on #69
I pulled your fix repo and it seems to resolve the issue I statet here. However something else breaks now: I get en exception from the class DaoSchema constructor line 52
`_database = _workspace.OpenDatabase(dataSource, /* Exclusive */ false, /* ReadOnly */ true, string.Empty);`:

[code]

If this is not related I can also open another issue.

[2020-11-26 10:50] lauxjpn opened #71 "Exception in DaoSchema"
I pulled your fix repo and it seems to resolve the issue I statet here. However something else breaks now: I get en exception from the class DaoSchema constructor line 52
`_database = _workspace.OpenDatabase(dataSource, /* Exclusive */ false, /* ReadOnly */ true, string.Empty);`:

The repro is exactly same as in the first post.

[code]

If this is not related I can also open another issue.

_Origi

[2020-11-26 10:50] lauxjpn commented on #69
@xoniuqe I moved it to #71.

[2020-11-26 10:54] lauxjpn commented on #71
The inner exception claims that your password is incorrect.

Are you using a database password (not a workspace password)?
If so, is it correct?

[2020-11-26 10:59] #69 closed

[2020-11-26 12:26] xoniuqe commented on #71
@lauxjpn: Yes. I specify it with the property(?) "Jet OLEDB:Database Password=<password>" in the connetion string.

[2020-11-26 17:16] lauxjpn commented on #71
The actual issue is fixed with #72. However, I came across another issue (unrelated to this one) regarding database passwords and ODBC connection strings, where it is currently not clear whether we can solve this adequately, or whether we have to live with a workaround.

[2020-11-26 21:29] #61 closed

[2020-11-27 08:08] xoniuqe commented on #71
Thank you for your fast replies the last days, I will test this as soon as I can, but currently I am working on some other issue and may not do this before monday.

[2020-11-27 09:57] lauxjpn commented on #71
@xoniuqe No worries. Just report back to us when you got the time. I did test it, so it should work.
By the way, are you using the German OLE DB provider, or are the German messages an issue from our side?

[2020-11-27 12:53] xoniuqe commented on #71
@lauxjpn I am not sure about the reason for the messages. I am working with a german system so the OleDB provider should be also german.

[2020-11-27 14:02] lauxjpn commented on #71
@xoniuqe Thanks, just wanted to make sure that I did not made Jet use German libraries by accident.

(I am running an English system, but am German and have German region settings enabled, so it would have been possible that I referenced a local library somewhere.)

[2020-11-28 11:39] lauxjpn opened #73 "Fix handling of 'PWD' ODBC connection string option"
See #72:

[2020-11-28 12:48] #71 closed

[2020-11-28 14:07] #45 closed

[2020-11-28 14:07] #55 closed

[2020-11-28 21:06] lauxjpn commented on #34
[Prerelease](https://github.com/bubibubi/EntityFrameworkCore.Jet/releases/tag/v3.1.0-alpha.3) `3.1.0-alpha.3` is now available on [nuget.org](https://www.nuget.org/packages/EntityFrameworkCore.Jet/3.1.0-alpha.3).

It includes the following packages:
* [EntityFrameworkCore.Jet](https://www.nuget.org/packages/EntityFrameworkCore.Jet/3.1.0-alpha.3) (main package)
* [EntityFrameworkCore.Jet.Data](http

[2020-11-29 07:06] P-Medicado opened #76 "Jet with unixODBC and MDB Tools on macOS/Linux: ODBC connection string "must be of type JetConnection""
Using macOS with Access 2002 + ODBC.
[code]
ODBC + Drives are installed/working via:
[code]

I'm using `isql -k "connection-string-goes-here"` to make sure Access JET4 database can read from tables or queries.

**What am I running into**
Inside the `OnConfiguring(optionsBuilder)` method of my DbContext `.UseJetOdbc(connection_string)` always produces errors.
[code]

**The error this produces**
[co

[2020-11-29 08:24] lauxjpn commented on #76
Very interesting. I was researching about mdbtools many year ago but was not aware that full ODBC support could be achieved nowadays on Unix systems.

All `DBQ` options should be generated UPPERCASE by EFCore.Jet. I made sure that this is the case with #72 yesterday, before publishing.

You can try to call `UseJetOdbc("/Users/p_m_/Desktop/access-db/open-data/Electronics-Sales.mdb")` with just a fi

[2020-11-29 12:33] Veflow opened #78 "Using ToLower in a query throws IndexOutOfRange"
Version: alpha 4

When using toLower(), I'm getting an IndexOutOfRange exception during query generation. When debugging the source, I found there was an issue in the JetStringMethodTranslator where the Trim clauses are formed. It checks if the passed arguments contain a null value on index 0, but it doesn't check if there actually is a value to begin with. That was the reason for the exception.

[2020-11-29 12:56] lauxjpn commented on #78
@Veflow In contrast to what I wrote in my email, if you provide the detailed information as you have with your #77 PR, there is probably no need also open a corresponding issue, as long as the PR is only about bug fixes and not about introducing features!

[2020-11-29 13:03] Veflow commented on #78
@lauxjpn Gotcha!

[2020-11-29 13:08] lauxjpn commented on #76
@P-Medicado I don't seem to be able to get unixODBC and mdbtools to work together, even just on the terminal:

[code]

The `/usr/local/etc/odbcinst.ini` and `/usr/local/etc/odbc.ini` files are empty and the `/Users/meyer/.odbc.ini` file does not exist.

If I run `odbcinst -q -d`, I get the following output:

[code]

[2020-11-29 13:15] #78 closed

[2020-11-29 15:09] P-Medicado commented on #76
Thank you so much in looking into this! Trying just the pathname did produce different results, but first, using `brew install` for these packages seems to make it difficult for `unixodbc` + `mdbtools` to see each other.

**Did `brew install mdbtools` include ODBC drivers?**
Run `brew info mdbtools` to find the exact location of your installation.
We need to find out of your installation has `lib/

[2020-11-29 15:57] lauxjpn commented on #76
@P-Medicado Awesome, thanks! I needed to do both steps, `mdbtools + unixodbc` and `Installing mdbtools with ODBC drivers` to get it working.

For anybody who is also trying this in the future, I also manually installed the ✘-marked dependencies in the following output:

[code]

With the Jet/ODBC part working now, I will take a look at the actual issue in the evening!

[2020-11-29 16:41] lauxjpn commented on #76
@P-Medicado Okay, this issue is actually in `OdbcConnectionStringBuilder`, that returns the `DBQ` option in lower case letters.

[2020-11-29 18:09] lauxjpn commented on #76
So the fix in #79 fixes the issue. However, I did some test with MDB Tools and they seems to be extremely limited. So I don't think they can really be used in practical applications. I haven't checked the [Easysoft ODBC-Access Driver](https://www.easysoft.com/products/data_access/odbc-access-driver/index.html#section=tab-1) yet, but since it is a commercial product, I assume that it works much bet

[2020-11-30 05:30] P-Medicado commented on #76
Thank you for looking into this! We started an experimental project comparing Access XP (2002) to our modern SQLite or MySQL typical db setup. In .Net Core we use Microsoft's OData to let users run custom where, sort, or even sub-select clauses against EF Core at run-time which translates them to real SQL queries compatible with SQLite or MySQL.

In this case, all this runs on Unix with dotnet, **

[2020-11-30 07:44] xoniuqe opened #80 "Access database cannot create table with default datetime in migration"
(Copied from StackOverflow: [https://stackoverflow.com/q/64663041/12767145](https://stackoverflow.com/q/64663041/12767145))
I have some trouble getting the migrations to create default datetime values for my tables. I am using the EF Core Jet provider and need to use MS Access-MDB-Files.

My Connection string is the following:

    Provider=Microsoft.Jet.OLEDB.4.0;Jet OLEDB:Engine Type=4;User ID=A

[2020-11-30 08:50] lauxjpn commented on #76
@P-Medicado Thanks for letting us know. If this does work for you, then we will merge #79 since it should not have any negative impact on other users.

However, the actual bug needs to be fixed in MDB Tools at some point. Do you want to open an issue on their repo, or do you want me to do it?

Thanks for reporting! That is indeed a bug that we will fix shortly.

[2020-11-30 10:11] P-Medicado commented on #76
hi! I would a lot appreciate if you could ask them to handle lowercase `DBQ` I forked the repo but just to change the readme to focus on this project. The mdbtools we installed here was not not the renent one. [I writed how to install the mdbtools in developing right now](https://github.com/P-Medicado/VSAD-mdbtools/blob/dev/README.md)

In `isql` i can get mdbtools to work v good by typing:

or

Bu

[2020-11-30 12:25] lauxjpn commented on #80
There are multiple underlying issues involved here.

First, only the following `#value#` syntax will work for `datetime` values in Jet SQL in general (there are minor variations, e.g. a leading `0` can be omitted):

[code]

(MS Access does like to show date/time values in the users local format, but this is just how it is displayed.)

I should also mention, that I am only talking about the current

[2020-11-30 17:01] lauxjpn commented on #76
I just wanted to make sure these are valid Access db feature bc if so then mdbtools has not much of chance to be able to work as access driver :(

That is the conclusion I came to as well, after trying a couple of simple queries. MDB Tools supports only _very_ simple queries and on top of that is very picky (not Jet compliant) with the supported syntax. I think using it with EFCore.Jet is way over

[2020-12-01 22:50] #18 closed

[2020-12-02 09:05] xoniuqe commented on #34
@lauxjpn: I am not sure if the implementation is buggy or if I do something wrong, but when trying to load my database via oledb the version I provide with nuget gets ignored and I get the TypeLoadException from JetFactory. The call of Type.GetType(...) seems to be problematic, if I load the System.Data.OleDb via Assembly.Load(..) the correct one gets loaded, but Type.GetType(...) uses the default

[2020-12-02 09:37] ChrisJollyAU commented on #34
@xoniuqe How are you referencing OleDb in the project file?
Is it like `<PackageReference Include="System.Data.OleDb" Version="5.0.0" />`

[2020-12-02 11:28] xoniuqe commented on #34
@ChrisJollyAU Yes I did.

[2020-12-02 11:29] xoniuqe commented on #34
I will upload an demo project on my repo.

[2020-12-02 13:45] ChrisJollyAU commented on #34
@xoniuqe Do you specifically need the full .net framework? Changing your demo to use .net core 3.1 is a possible solution

[2020-12-02 13:49] xoniuqe commented on #34
@ChrisJollyAU I have dependencies to .net Framework assemblies which are not usable in .net core 3.1, so yes.

[2020-12-02 14:03] ChrisJollyAU commented on #34
@xoniuqe I tried adding a binding redirect but didnt work. I can  see in the debug as it loads, it loads the correct version but at runtime the .net framework version keeps on getting picked.

Should probably open a issue specific for this

[2020-12-02 16:18] ChrisJollyAU commented on #34
![image](https://user-images.githubusercontent.com/18402102/100898967-493bf080-34fc-11eb-911f-3b178e6bfa03.png)

Here's the problem. The netstandard version includes all the OleDb classes whereas the .net framework version doesn't. It in turn references the normal System.Data

@lauxjpn The OleDb bug that was in the net core version, do you know if that was only in net core? If so on the full frame

[2020-12-02 22:16] lauxjpn opened #83 "Using 'System.Data.OleDb' on 'net472' throws 'TypeLoadException'"
@lauxjpn: I am not sure if the implementation is buggy or if I do something wrong, but when trying to load my database via oledb the version I provide with nuget gets ignored and I get the TypeLoadException from JetFactory. The call of Type.GetType(...) seems to be problematic, if I load the System.Data.OleDb via Assembly.Load(..) the correct one gets loaded, but Type.GetType(...) uses the default

[2020-12-02 22:17] lauxjpn commented on #83
@xoniuqe How are you referencing OleDb in the project file?
Is it like `<PackageReference Include="System.Data.OleDb" Version="5.0.0" />`

_Originally posted by @ChrisJollyAU in https://github.com/bubibubi/EntityFrameworkCore.Jet/issues/34#issuecomment-737111781_

[2020-12-02 22:18] lauxjpn commented on #83
@ChrisJollyAU Yes I did. I will upload a demo project on my github. https://github.com/xoniuqe/Ef-Core-Jet-TypeLoadException

_Originally posted by @xoniuqe in https://github.com/bubibubi/EntityFrameworkCore.Jet/issues/34#issuecomment-737171720_

[2020-12-02 22:18] lauxjpn commented on #83
@xoniuqe Do you specifically need the full .net framework? Changing your demo to use .net core 3.1 is a possible solution

_Originally posted by @ChrisJollyAU in https://github.com/bubibubi/EntityFrameworkCore.Jet/issues/34#issuecomment-737239172_

[2020-12-02 22:18] lauxjpn commented on #83
@ChrisJollyAU I have dependencies to .net Framework assemblies which are not usable in .net core 3.1, so yes.

_Originally posted by @xoniuqe in https://github.com/bubibubi/EntityFrameworkCore.Jet/issues/34#issuecomment-737241226_

[2020-12-02 22:18] lauxjpn commented on #83
@xoniuqe I tried adding a binding redirect but didnt work. I can  see in the debug as it loads, it loads the correct version but at runtime the .net framework version keeps on getting picked.

Should probably open a issue specific for this

_Originally posted by @ChrisJollyAU in https://github.com/bubibubi/EntityFrameworkCore.Jet/issues/34#issuecomment-737249122_

[2020-12-02 22:18] lauxjpn commented on #83
![image](https://user-images.githubusercontent.com/18402102/100898967-493bf080-34fc-11eb-911f-3b178e6bfa03.png)

Here's the problem. The netstandard version includes all the OleDb classes whereas the .net framework version doesn't. It in turn references the normal System.Data

@lauxjpn The OleDb bug that was in the net core version, do you know if that was only in net core? If so on the full frame

[2020-12-02 22:22] lauxjpn commented on #34
@xoniuqe @ChrisJollyAU I moved everything related to the issue to #83.

[2020-12-03 10:23] ChrisJollyAU commented on #83
@xoniuqe I tested my changes and it does work on your test project. It will just use the OleDb classes from the framework's System.Data rather than the nuget package. Also I would recommend changing your connection string to use ACE rather than Jet. Jet is quite old and only supports database formats up to around access 2003. Creating a new database will use DAO which will use the current access r

[2020-12-03 10:28] xoniuqe commented on #83
@ChrisJollyAU Thank you for the fast work, unfortunalety I think I have to stick to the Jet driver because we currently have the requirement to work with the old database format. But I give it a try and will give you an update. But this has to wait until monday.

[2020-12-03 10:54] lauxjpn commented on #83
Okay, the issue is fixed with #84.

I had no serious issue with the test project that @xoniuqe provided when using #84, but only a minor one regarding the double quotes surrounding the `Data Source` connection string option value, that will lead to a failing path check later on when executing our custom `CREATE DATABASE` command.
I will open another PR for that fix.

[2020-12-03 10:58] ChrisJollyAU commented on #83
@xoniuqe  Jet should still work. if you already have a database

[2020-12-03 11:00] ChrisJollyAU commented on #83
@lauxjpn Is it really necessary to do the version check like that versus adding it as a nuget dependency requirement?

[2020-12-03 12:00] lauxjpn commented on #83
@ChrisJollyAU We have the nuget dependency requirement in `EntityFrameworkCore.Jet.OleDb`. However, people might not install it and just use `UseJet()` instead of `UseJetOleDbb()` with only referencing `EntityFrameworkCore.Jet`.

We could make it mandatory for people to install either `EntityFrameworkCore.Jet.OleDb` or `EntityFrameworkCore.Jet.Odbc` , and then runtime check that people have indeed

[2020-12-03 12:16] ChrisJollyAU commented on #83
@lauxjpn What about removing the `UseJet()` from `EFCore.Jet`. Then you only have `UseJetOleDb` and `UseJetOdbc`. Then you have to install one of those packages to be able to use it

[2020-12-03 12:57] lauxjpn commented on #83
We currently have a mechanism that just infers the data access library needed from the connection string used. So if I currently specify `DBQ=MyDatabase.accdb` then we will use ODBC, and if I specify `Data Source=MyDatabase.accdb` we will use OLE DB.

There is also the possibility to just specify the filename and nothing else, which will use the default data access provider (currently ODBC), or to

[2020-12-03 13:23] ChrisJollyAU commented on #83
You actually have some internal usage of UseJet within `EFCore.Jet`. Specifically within `JetRelationalConnection.cs` and `JetCodeGenerator.cs` . And of course they have their own dependencies. In total around 10 files to be moved out out of EFCore.Jet and into both of `EFCore.Jet.OleDb` and `EFCore.Jet.Odbc`

[2020-12-03 14:14] lauxjpn commented on #83
@ChrisJollyAU Yes, if we would go forward with this proposal, we would need to adjust the code generation for the `UseJet()` call as well.

As for dependent files on `UseJet()`, I would just keep but rename the current extension method implementations and make them internal. Therefore, nothing really changes internally but users cannot call them anymore. We would keep the methods with the signatur

[2020-12-03 14:20] #83 closed

[2020-12-07 15:26] #80 closed

[2020-12-09 12:28] xoniuqe commented on #83
I could use this strings on the 2.2.X version, is this a newly introduced bug?

[2020-12-09 12:44] lauxjpn commented on #83
@xoniuqe Yes. 3.x is nearly a complete rewrite and now also allows the usage of ODBC (previously only OLE DB).

As a quick workaround, do not use explicit double quotes around your path in the connection string.

[2020-12-09 15:01] xoniuqe commented on #83
@lauxjpn: This worked kind of. I can load the mdb file successfully with the removed quotes, but when I try to migrate I get an OleDBException "Unrecognized database format error"(may not be the exact wording). If I change the provider to `Microsoft.ACE.OLEDB.12.0` this works but the migration does not create an database password. is this the same issue as you mentioned before (concerning an upcom

[2020-12-09 16:04] ChrisJollyAU commented on #83
@xoniuqe Not sure about the database password. However I did mention something about that unrecognized database format error earlier in this issue.

In summary the new file is created using DAO from the currently installed access engine (e.g. in the test suite for this project it uses the access 2010 engine). However when trying to read it using OleDb, you are specifying the Jet OleDb driver which

[2020-12-09 21:16] lauxjpn commented on #83
@xoniuqe The connection string quoting issue is fixed with #88.

[2020-12-09 21:31] lauxjpn commented on #83
We should fix this. We should provide an option to specify the database version and should default to the latest MDB supporting version when the file extension is `.mdb`.

I will push a PR for this.

[2020-12-09 23:08] lauxjpn commented on #83
@xoniuqe The `System.Data.OleDb.OleDbException (0x80004005): Unrecognized database format 'test.mdb'.` issue is fixed with #90.

[2020-12-10 21:01] lauxjpn commented on #83
@xoniuqe This issue is fixed with #91.

[2020-12-14 08:38] xoniuqe commented on #83
@lauxjpn After a short test with my prototype everything seems to work as I would expect it. Thank you for your fast responses and the fixes. Great job! (@ChrisJollyAU thank you too, you were also helpful).

When I first was evaluating to use this provider for our ancient software I was a bit sceptical (at first the project seemed a bit inactive to me, to be honest)  but I must admit im really imp

[2020-12-15 09:23] xoniuqe opened #93 "InvalidOperationException after updating to latest alpha"
In my current demo I noticed the following exception when I try add a new migration via `Add-Migration` .

After a bit of debugging it all works fine up to  `3.1.0-alpha.4.ci.20201209185941` and the error occurs since `"3.1.0-alpha.4.ci.20201209190442`.
The setup:

OnConfiguring:
Here is my last try with the OnConfiguring, although I tried variations with removing any option except for the provide

[2020-12-15 10:07] #93 closed

[2020-12-15 10:29] xoniuqe commented on #93
Can confirm the fix.

[2020-12-15 10:32] lauxjpn commented on #93
@xoniuqe Thanks for reporting! The fix is now part of our [daily builds](https://github.com/bubibubi/EntityFrameworkCore.Jet#daily-builds).

[2020-12-16 04:23] lauxjpn commented on #34
[Prerelease](https://github.com/bubibubi/EntityFrameworkCore.Jet/releases/tag/v3.1.0-alpha.4) `3.1.0-alpha.4` is now available on [nuget.org](https://www.nuget.org/packages/EntityFrameworkCore.Jet/3.1.0-alpha.4).

[2020-12-22 14:26] olakusibe commented on #34
I am encountering this error when I try to scaffold an existing older version of `.mdb` (likely Access '97 version)

`Could not load assembly 'Legacy.Test.RDBMSMigrations'. Ensure it is referenced by the startup project 'Legacy.Test.RDBMSMigrations'.`

In Visual Studio my project is the default startup project and default project on PMC

command I ran via PMC

`Scaffold-DbContext -Connection "Prov

[2020-12-22 15:37] ChrisJollyAU commented on #34
Your project file looks fine.

Your .Net SDK however (if my suspicion is correct) is where the problem lies. Can you confirm whether you have the x64 or x86 version of .Net?

You can use the following command to get that info: `dotnet --info`

My guess is that you have the x64 SDK installed. To do the scaffolding the dotnet.exe needs to load your assembly to use it. As it is 2 different platforms

[2020-12-23 08:30] olakusibe commented on #34
Thanks @ChrisJollyAU , following your steps worked.

Is there another technical way to run both x86 and x64 SDKs without going back and forth to set their priority order in PATH?

[2020-12-23 10:34] ChrisJollyAU commented on #34
Haven't tried anything but https://stackoverflow.com/questions/39497807/configure-net-core-to-use-x86-sdk has a couple of potential solutions. I think the `Dicretory.Build.Targets` file may have more chance of success

[2020-12-23 11:01] lauxjpn opened #95 "How to scaffold when having x64 and x86 .NET Core SDKs installed"
I am encountering this error when I try to scaffold an existing older version of `.mdb` (likely Access '97 version)

`Could not load assembly 'Legacy.Test.RDBMSMigrations'. Ensure it is referenced by the startup project 'Legacy.Test.RDBMSMigrations'.`

In Visual Studio my project is the default startup project and default project on PMC

command I ran via PMC

`Scaffold-DbContext -Connection "Prov

[2020-12-23 11:02] lauxjpn commented on #95
Your project file looks fine.

Your .Net SDK however (if my suspicion is correct) is where the problem lies. Can you confirm whether you have the x64 or x86 version of .Net?

You can use the following command to get that info: `dotnet --info`

My guess is that you have the x64 SDK installed. To do the scaffolding the dotnet.exe needs to load your assembly to use it. As it is 2 different platforms

[2020-12-23 11:02] lauxjpn commented on #95
Thanks @ChrisJollyAU , following your steps worked.

Is there another technical way to run both x86 and x64 SDKs without going back and forth to set their priority order in PATH?

_Originally posted by @olakusibe in https://github.com/bubibubi/EntityFrameworkCore.Jet/issues/34#issuecomment-750007003_

[2020-12-23 11:02] lauxjpn commented on #95
Haven't tried anything but https://stackoverflow.com/questions/39497807/configure-net-core-to-use-x86-sdk has a couple of potential solutions. I think the `Dicretory.Build.Targets` file may have more chance of success

_Originally posted by @ChrisJollyAU in https://github.com/bubibubi/EntityFrameworkCore.Jet/issues/34#issuecomment-750111023_

[2020-12-23 11:03] lauxjpn commented on #34
@olakusibe I moved your issue to #95.

[2020-12-23 11:05] lauxjpn commented on #95
@olakusibe A simple way is to just use appropriate full path to the x86 or x64 `dotnet.exe` in your CLI command:

[code]

So the following PowerShell command should work for you:

[code]

[2021-01-14 13:28] xoniuqe opened #96 "OleDbException when HasColumnName is not specified"
Hello my fellow developers! The good stuff at the beginning: I'm having a blast with the current alpha of this provider and my project is moving forward fast, also because of the fast reactions and fixes of all of you.

Today I stumbled other a strange behaviour:
I was defining some entities via the fluent API and defined an owned entity for one of my classes.

I did it like so:
[code]

If start t

[2021-01-15 03:48] lauxjpn commented on #96
Generally, you code should work, after fixing the `HasDefaultValueSql("15:30#");` syntax error (`#15:30#` is correct).
I tested this using the following code:

<details>
<summary>Program.cs</summary>

[code]

</details>

It runs successfully and generates the following output:

<details>
<summary>EF Core Output</summary>

[code]

</details>

However, while testing the code, I came across an issue,

[2021-01-28 16:12] P-Medicado commented on #76
hi again! there seems to be a prosibility for using Access + EF Core + Linux but in a different way. On Windows you can use this repo's scaffold tool to map an MDB to C# classes. Then, alternate Linux-compatible DbProvider can be use to realise the classes. There are some Column Type collisions like Access's currency or counter but this can be fixed by hand.

Thank you again so much

[2021-01-28 16:12] #76 closed

[2021-02-01 13:14] lauxjpn commented on #76
@P-Medicado Interesting! Can you drop a link to the `DbProvider` you are talking about?

[2021-02-02 15:34] P-Medicado commented on #76
I'm sorry, the developer working on it used the JDBC UCanAccess bridge, this includes too much runtime translation for production use. We decided to stick with Access as a UI for designing databases for other database platforms.

Using Access as a web server database is a powerful experience for developers who don't have a database engineering background. The development experience on Windows usin

[2021-02-04 22:44] lauxjpn commented on #76
@P-Medicado Thanks for listing your research. Especially option 1 looks very promising in the long run and would just need a bit of dedication of someone to port the UCanAccess / Jackcess code to .NET.

Of course migrating projects to a different database is definitely an option as well, as you do with your translation repo.

[2021-02-28 13:11] jeromv commented on #83
Hello,

I tried to get the prerelease package working in a net 5 project. Didn't work. Tried downgrading to 3.1 core, also didn't work
I either get typeload exceptions or version conflicts with nuget packages
Is there an example of a working test project?

[2021-02-28 13:31] ChrisJollyAU commented on #83
Hi @jeromv . Net 5 is not supported yet. It does require a fair number of changes to be built against it.

It should be working for .net core 3.1 . Can you post your project file and the exact error message you're getting

[2021-02-28 14:21] jeromv commented on #83
Thanks

I get Method 'get_Info' in type 'EntityFrameworkCore.Jet.Infrastructure.Internal.JetOptionsExtension' from assembly 'EntityFrameworkCore.Jet, Version=2.2.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' does not have an implementation.'

This the project file

Can’t upgrade to the prerelease, I get a version conflict when I try to

Cheers

Jeroen

From: Christopher Jolly <notificatio

[2021-02-28 14:27] ChrisJollyAU commented on #83
You need the prerelease. The version you are using is 2.2.0 which is compatible with net core 2

Your project file is not included

If your project file uses packagereferences have this as a line in it

<PackageReference Include="EntityFrameworkCore.Jet" Version="3.1.0-alpha.4" />

[2021-02-28 14:33] jeromv commented on #83
Did a screenshot of the project file sorry 😊

These are the references I use (froegt about the sqlite…)

<PackageReference Include="EntityFrameworkCore.Jet" Version="2.2.0" />

    <PackageReference Include="Microsoft.EntityFrameworkCore" Version="5.0.3" />

    <PackageReference Include="Microsoft.EntityFrameworkCore.Sqlite" Version="5.0.3" />

    <PackageReference Include="Microsoft.EntityFrame

[2021-02-28 14:42] ChrisJollyAU commented on #83
Ah, your version is wong for all those starting with `Microsoft.EntityFrameworkCore` . Being version 5 they are referencing the net 5 version of those packages

`<PackageReference Include="Microsoft.EntityFrameworkCore" Version="3.1.12" />`

3.1.12 is the latest in the 3.1 series. If you have all those change to use that version and have

`<PackageReference Include="EntityFrameworkCore.Jet" Versio

[2021-02-28 15:25] jeromv commented on #83
Thanks. Will try that

From: Christopher Jolly <notifications@github.com>
Sent: zondag 28 februari 2021 15:43
To: bubibubi/EntityFrameworkCore.Jet <EntityFrameworkCore.Jet@noreply.github.com>
Cc: jeromv <jeroen@vv-software.nl>; Mention <mention@noreply.github.com>
Subject: Re: [bubibubi/EntityFrameworkCore.Jet] Using 'System.Data.OleDb' on 'net472' throws 'TypeLoadException' (#83)

Ah, your versio

[2021-02-28 15:41] jeromv commented on #83
Works!

Version="3.1.12" was the clue. Thanks for your help, much appreciated!

From: Christopher Jolly <notifications@github.com>
Sent: zondag 28 februari 2021 15:43
To: bubibubi/EntityFrameworkCore.Jet <EntityFrameworkCore.Jet@noreply.github.com>
Cc: jeromv <jeroen@vv-software.nl>; Mention <mention@noreply.github.com>
Subject: Re: [bubibubi/EntityFrameworkCore.Jet] Using 'System.Data.OleDb' on '

[2021-05-16 04:44] lauxjpn commented on #34
It has been some time. Let's release the 3.1.0 GA version, before 2021-05-20, unless anybody has reservations about it, so we can move on to 5.0.0 and finally 6.0.0.

[2021-05-16 06:10] ChrisJollyAU commented on #34
@lauxjpn That should be fine

[2021-05-22 08:56] lauxjpn opened #98 "EF Core 5 support"
We will use this issue to track the progress on supporting EF Core 5.

[2021-05-22 09:01] lauxjpn commented on #34
[Release](https://github.com/bubibubi/EntityFrameworkCore.Jet/releases/tag/v3.1.0) `3.1.0` is now available on [nuget.org](https://www.nuget.org/packages/EntityFrameworkCore.Jet/3.1.0).

Thanks to everybody for their patience and special thanks to anybody who contributed!

[2021-05-22 09:01] #34 closed

[2021-05-22 09:15] lauxjpn commented on #98
@ChrisJollyAU I think we should make this one comply with what's expected for EF Core 5, ensure the tests that did run before still run now, and get this out the door. Split queries are basically a must for Jet.

I propose moving any real new features and major work to the EF Core 6 support, so we can release in parallel to their release upstream in November.

[2021-05-22 09:18] ChrisJollyAU commented on #98
So more of a compatibility update? Can do go with that

[2021-05-23 20:08] lcrumbling opened #100 "Null reference exception when executing migration for adding column of type DateTimeOffset? or DateTimeOffset"
I added a column to my data structures:

` public DateTimeOffset? colname { get; set }`

And created a migration:

[code]

When I execute the migration step, I get a Null Reference Exception.
-2147467261
 Object reference not set to an instance of an object.

StackTrace is:

This was with:
**Microsoft.EntityFrameworkCore 3.1.15
 EntityFrameworkCore.Jet 3.1.0**

[2021-05-24 05:11] #100 closed

[2021-05-24 05:37] lauxjpn commented on #100
@lcrumbling Thanks for reporting this issue!

The fix will be part of the upcoming `3.1.1` service release. Until then, just use the lastest [daily build](https://github.com/bubibubi/EntityFrameworkCore.Jet#daily-builds).

[2021-05-24 12:29] lcrumbling commented on #100
That's awesome! Thanks for looking at this (and resolving it!) so quickly :)

- Lynn

[2021-05-25 19:56] lauxjpn commented on #100
Ah, looks like I forgot to bump-up the version.
The last one from yesterday (or just the newest one in general) is correct in this case, which should be:

`3.1.0-rtm.1.ci.20210524053456+sha.db2c056`

But I will bump-up the version now as well, so a CI prerelease with the correct version should be available in about 20 minutes.

[2021-06-02 17:20] scosta-kar opened #103 "EntityFrameworkCore.Jet 3.1: Unnable to scaffold foreign keys with composed fields"
Let me start by thanking you guys for the excellent work on this project.

I am migrating a project that scaffolds an Access Database using EntityFrameworkCore.Jet 2.2.0  to the new 3.1 version.

When trying to scaffold the database, I get the following warning:
[code]
The result is we don't get the foreign key mapped to a collection in code.
This seems to be introduced by the upgrade to 3.1. I'm

[2021-06-02 20:15] lauxjpn commented on #103
@scosta-kar Thanks for reporting this issue!

While we are getting the columns of the FK -> PK mapping in the correct order from the database schema, we sort them later and thereby loosing their original order, which leads to EF Core not matching the columns of the relationship to the primary key of the principal table.

So this is a bug.
The only workaround is to name the columns involved in a wa

[2021-06-02 21:57] #103 closed

[2021-06-02 22:18] lauxjpn commented on #103
This has been fixed with #104.
Until the release of `3.1.1`, just use the latest [daily build](https://github.com/bubibubi/EntityFrameworkCore.Jet#daily-builds).

[2021-07-12 09:23] francescomazzurco commented on #98
Do you plan to publish the daily builds in your Azure DevOps feed?
Thanks in advance for your all your work!

[2021-07-13 08:26] lauxjpn commented on #98
@francescomazzurco Yes, every merge automatically makes it into the daily build feed.

[2021-08-11 02:32] lcrumbling opened #105 "Expectation for creating a migration that removes an identity"
Let's say that you have an autonumber column.
You add an annotation to change it into a number:

`[DatabaseGenerated(DatabaseGeneratedOption.None)]`

Would you expect the code change to generate a migration that works, or one that throws an exception?

Currently, I'm getting an exception when I try to run the generated migration:

My expectation was that it would have created a migration that perf

[2021-08-13 11:41] ChrisJollyAU commented on #105
Also, being the identity column, it will affect any foreign key relationships as well. You may have to drop any relationships first, do the change, the recreate the relationships. That will make things a bit more complex

[2021-08-17 09:20] ChrisJollyAU commented on #105
Oddly enough I ended up with this scenario against a SQL Azure database this week and got exactly the same error. So even the normal sql server migrations behaves like this. Can probably close this as expected behaviour

[2021-11-01 14:04] juliokele opened #106 "System.ArgumentNullException on Update-Database command (Access97 Database, FirstMigration)"
i have System.ArgumentNullException on Update-Database command (Access97 Database, FirstMigration):

[code]
connection string: "Provider=Microsoft.ACE.OLEDB.12.0;Jet OLEDB:Engine Type=4;Data Source=c:\\Temp\\Access97EF\\test.mdb;"
EntityFrameworkCore.Jet: 3.1.0
Microsoft.EntityFrameworkCore.Tools: 3.1.20
Framework: net461

[2021-11-01 15:47] ChrisJollyAU commented on #106
It looks like something is going wrong in the `ExtractFileNameFromConnectionString` function.

The likely candidate is a problem with your connection string. Are you sure you've set the connection string properly?

It looks like by the time it gets to performing a regex on it to find the value of the Data Source, your connection string is NULL

While it might not be part of the problem, I'm not to

[2021-11-01 16:08] lcrumbling commented on #106
FWIW, I believe 4.0 is Access 2000; OP mentions 97, which is 3.5:
Provider=Microsoft.Jet.OLEDB.3.5;Data Source=c:\\path\\db.mdb;

That being said, I believe 4.0 will work is 97. It -may- try to convert it to the 2000 format, though.

[2021-11-01 16:08] juliokele commented on #106
Scaffold on existing DB work as expected (that means: conection string ok):
Scaffold-DbContext -Connection "Provider=Microsoft.ACE.OLEDB.12.0;Jet OLEDB:Engine Type=4;Data Source=D:\Temp\Access97EF\test.mdb;" -Provider EntityFrameworkCore.Jet -OutputDir Models
Build started...
Build succeeded.

[2021-11-01 16:09] lcrumbling commented on #106
Mmmmm, google says: Provider=Microsoft.Jet.OLEDB.3.5.1;

[2021-11-01 16:18] ChrisJollyAU commented on #106
4.0 would be up to access 200 I believe. I know I use that version with a access 95 db

[2021-11-01 18:20] juliokele commented on #106
same error with Microsoft.Jet.OLEDB.4.0:
"Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\\Temp\\Access97EF\\test.mdb;"

[2021-11-02 10:16] lauxjpn commented on #106
@juliokele Please post the code that calls the `UseJet...()` method.

From the output you posted, this should be either your `ModelContext.OnConfiguring()` or `ModelContext.ModelContext()` method.

---

In a vanilla console project, adding a migration and updating the database works as expected on my end:

<details>
<summary>Program.cs</summary>

[code]

</details>

<details>
<summary>Console outp

[2021-11-02 12:47] juliokele commented on #106
please try without "UseLoggerFactory".
Without Logging always failed,
with Logging works.

[2021-11-03 00:53] #106 closed

[2021-11-05 23:28] juliokele commented on #106
"Jet OLEDB:Engine Type=4;" parameter ignored,
database version not as expected (Access2003, Access97)

[2021-11-06 12:58] lauxjpn commented on #106
@juliokele We fixed the issue from the OP with PR #107.
Try the latest [daily build](https://github.com/bubibubi/EntityFrameworkCore.Jet#daily-builds).

[2021-11-06 13:01] juliokele commented on #106
only the "System.ArgumentNullException" error part fixed, this is a new issue

[2021-11-06 14:43] juliokele opened #108 "Connection String "Jet OLEDB:Engine Type" parameter is ignored"
Connection string: "Provider=Microsoft.ACE.OLEDB.12.0;Jet OLEDB:Engine Type=4;Data Source=c:\Temp\Access97EF\test.mdb;"
"Jet OLEDB:Engine Type=4;" parameter is ignored,
database version not as expected (Access2003 (jet4) vs. Access97 (jet3))

![Unbenannt](https://user-images.githubusercontent.com/8851893/140613572-d72dec8a-7733-45b9-90b0-54188773c4ca.PNG)

maybe the problem becouse this (with "Dat

[2021-11-07 21:15] lauxjpn commented on #108
We currently do not consider the `Jet OLEDB:Engine Type` parameter, when it comes to database creation.
Though I guess we could.
However, Access 97 is way obsolete and unsupported at this point in time.

[2021-11-24 12:32] ChrisJollyAU commented on #98
@lauxjpn What's the current plan? .Net 6 is already here

[2021-12-08 12:48] xoniuqe opened #109 "How to configure the provider to use ADOX?"
I am currently running in an issue on Windows 10 x64 machines which have seemingly no DAO drivers on them.
If I try to create the database via the IMigrator I get the following exception:

(FYI my connection string: `Provider=Microsoft.Jet.OLEDB.4.0;User ID=Admin; Data Source={0};Mode=Share Deny None;Jet OLEDB:Database Password={1}` and I use the `.UseJetOleDb` Method to create the context)

After

[2021-12-08 14:48] ChrisJollyAU commented on #109
Can I ask what bitness you are compiling your program for? Any CPU,x86 or x64?

It's just that `Microsoft.Jet.OLEDB.4.0` is somewhat legacy and only comes in an x86 version. If you try it from a different bit program you do get the error of "Class not registered"

[2021-12-09 08:04] xoniuqe commented on #109
I am using the Any CPU Platform Target, but I still got the same error when setting that to x86. If I understand the ecosystem around access correctly this may still run into problems if the access drivers are installed in x64 on the target machine.

This issue is known but I have to work with an old mdb-file. As far as I know I cannot just replace that with an Microsoft.Ace.OLEDB.12.0 or can I?

[2021-12-09 08:37] bubibubi commented on #109
it's not possible to create a database using an OLEDB connection so (as far as I remember) the provider creates an `ADOX` object not dependent on the OLEDB provider you are using (i.e. it ignores `Microsoft.Jet.OLEDB.4.0`).
When the database is created you can connect to it using any of the OLEDB providers you have installed on your PC (16 or 32 bits according to your application).
Note also that

[2021-12-09 14:50] ChrisJollyAU commented on #109
Thanks @bubibubi for that info.

Also @xoniuqe just to confirm, if you already have a mdb file, you are able to connect to it using OLEDB? If not, go to Build -> Configuration Manger, and make sure that the target platform for your project is set to x86. It IS possible to have a project to have a different target platform to the main target platform that shows in the menu area (.e.g. I have a solu

[2021-12-09 16:38] MichaelSteinecke opened #110 "Some columns with int datatype are incorrectly created as counter column"
Hello,

currently I try to recreate an Access MDB database based on the scaffolded project. When I run my initial migration some columns which are mapped to an integer property but without explicitly assigned datatype are created incorrectly as counter columns. Some other columns with similar definition/configuration are created properly as int.

Currently I believe the incorrect behavior comes up

[2021-12-10 08:15] bairog commented on #98
@lauxjpn @bubibubi Hello there! How can I obtaion some test build with **EF Core 5** (or even **EF Core 6**) Support? Thank you.

[2021-12-10 12:25] lauxjpn commented on #110
@MichaelSteinecke I am unable to reproduce this issue with the following code:

<details>
<summary>Program.cs</summary>

[code]

</details>

It generates the following SQL:

<details>
<summary>Output (SQL)</summary>

[code]

</details>

Adding it as a migration and generating the SQL script produces the same result:

<details>
<summary>SQL</summary>

[code]

</details>

[2021-12-10 12:28] MichaelSteinecke commented on #110
I'll build a repo

[2021-12-10 13:24] lauxjpn commented on #98
@bairog

[2021-12-10 13:25] lauxjpn commented on #110
Feel free to use the sample code I provided as a base.

[2021-12-10 15:03] ChrisJollyAU commented on #98
@bairog If you feel like it, give the attached a try. They are currently a work in progress. The EF5/Net5 is at the exact stage the the .Net 5 pull request is at. Compiled from my net5structure branch https://github.com/ChrisJollyAU/EntityFrameworkCore.Jet/tree/net5structure
The .Net 6 (my branch https://github.com/ChrisJollyAU/EntityFrameworkCore.Jet/tree/net6) is copied from the .Net 5 and updat

[2021-12-10 15:43] MichaelSteinecke commented on #110
I've extended your sample code to a full repo.
Apparently, the Model Builder "requires" the configuration for the other entities as well. It seems that the counter data type is placed on both ends of the relation.
[Issue110.zip](https://github.com/bubibubi/EntityFrameworkCore.Jet/files/7693804/Issue110.zip)

[2021-12-10 17:05] MichaelSteinecke commented on #110
I think, I found the cause of the error:

From Microsoft.EntityFrameworkCore.Storage.RelationalTypeMappingSource.FindMapping(IProperty property)
![image](https://user-images.githubusercontent.com/6099045/145612421-181d8f75-73c4-43f8-b9d3-028ee6cacfa0.png)

Apparently, when searching for the columnType for a property in a relationship, the type of the column of the principal is used.
In my example,

[2021-12-10 17:18] MichaelSteinecke commented on #110
@lauxjpn
As this behavior is roots in a speciality of Access in conjunction with the EFCore Type mapping. Usually the EfCore approach seems to be correct.
I think, the best way to fix this, is to apply the .HasColumnType("int") when generating the model.

[2021-12-13 06:55] bairog commented on #98
@ChrisJollyAU Thank you for your work.
I've tried to test your [ef6.zip](https://github.com/bubibubi/EntityFrameworkCore.Jet/files/7693552/ef6.zip).

Database that I need to query has a lot of specific: table names are Cyrillic, tables has no primary key, colums names are Cyrillic.
So I've created .NET 6.0 class library, added **EntityFrameworkCore.Jet.dll** as a library reference and wrote the fo

[2021-12-13 07:12] ChrisJollyAU commented on #98
You might be missing some references
<img width="188" alt="image" src="https://user-images.githubusercontent.com/18402102/145767970-3beb954f-4b8a-421b-a1c3-16f69f0e81e6.png">
Need all 3

[2021-12-13 07:20] bairog commented on #98
@ChrisJollyAU
Unfortunatelly I've already tried that with no success (errors are the sane). All three libraries (as well as System.Data.OleDb.dll) are present in output directory. I've updated my initial post here.

[2021-12-13 07:34] ChrisJollyAU commented on #98
I don't see any thing related to Jet in the stack traces. Looks like it's just around in ef core.

Also, not sure what you're trying to do with the scope and serviceProvider.
`
DbContextOptionsBuilder builder = new DbContextOptionsBuilder<ModelContext>();
            builder.UseJet("Provider=Microsoft.Jet.OLEDB.4.0;Data Source=c:\\test\\recent.mdb;").UseLazyLoadingProxies();
            context =

[2021-12-13 07:44] bairog commented on #98
@ChrisJollyAU
Just changed my code to this - unfortunatelly same error
[code]
Ok, I will try to perform a test with "traditional" MS database (with English table names and column names) - maybe that is the core of the problem here,,,

[2021-12-13 07:56] bairog commented on #98
@ChrisJollyAU
Same error with "traditional" MS database. Could you please share you test example full code (including test database) - so I could finally find the real core of my problem? Thank you in advance..

[2021-12-13 08:21] ChrisJollyAU commented on #98
Actually, might have the same problem on ef6. It is experimental right now. Also perhaps should have a separate issue for ef6 experimental stuff

[2021-12-13 08:25] bairog opened #111 "Unofficial EF Core 6 support"
Created to continue discussion on EF core 6 support that was [started here](https://github.com/bubibubi/EntityFrameworkCore.Jet/issues/98#issuecomment-991045740)

[2021-12-13 16:05] lauxjpn commented on #111
@ChrisJollyAU Thank you for your work.
I've tried to test your [ef6.zip](https://github.com/bubibubi/EntityFrameworkCore.Jet/files/7693552/ef6.zip).

Database that I need to query has a lot of specific: table names are Cyrillic, tables has no primary key, colums names are Cyrillic.
So I've created .NET 6.0 class library, added **EntityFrameworkCore.Jet.dll**, **EntityFrameworkCore.Jet.Data.dll** a

[2021-12-13 16:05] lauxjpn commented on #111
@ChrisJollyAU
Unfortunatelly I've already tried that with no success (errors are the same). All three libraries (as well as **System.Data.OleDb.dll**) are present in output directory. I've updated my initial post above.
P. S. I've also tried to call my class library API from a console app instead of ASP .NET Core 6.0 Web App - nothing changes..
Maybe you can share a working example for data readin

[2021-12-13 16:06] lauxjpn commented on #111
@ChrisJollyAU
Just changed my code to this - unfortunatelly same error
[code]
Ok, I will try to perform a test with "traditional" MS database (with English table names and column names) - maybe that is the core of the problem here...

_Originally posted by @bairog in https://github.com/bubibubi/EntityFrameworkCore.Jet/issues/98#issuecomment-992192402_

[2021-12-13 16:06] lauxjpn commented on #111
@ChrisJollyAU
Same error with "traditional" MS database. Could you please share a full code of your EF6 test console app (including test database) - so I could finally find the real core of my problem? Thank you in advance..

_Originally posted by @bairog in https://github.com/bubibubi/EntityFrameworkCore.Jet/issues/98#issuecomment-992198687_

[2021-12-13 16:06] lauxjpn commented on #111
Actually, might have the same problem on ef6. It is experimental right now. Also perhaps should have a separate issue for ef6 experimental stuff

_Originally posted by @ChrisJollyAU in https://github.com/bubibubi/EntityFrameworkCore.Jet/issues/98#issuecomment-992216726_

[2021-12-13 16:09] lauxjpn commented on #98
@bairog @ChrisJollyAU I moved the recent posts to #111.

[2021-12-13 16:11] lauxjpn commented on #111
I changed the title to _**Unofficial** EF Core 6 support_, since we will not make any official advances towards EF Core 6 until the EF Core 5 release is out.

[2021-12-13 16:12] lauxjpn commented on #98
A 5.0 alpha is now available via our [daily builds](https://github.com/bubibubi/EntityFrameworkCore.Jet#daily-builds) feed.

[2021-12-13 16:15] ChrisJollyAU commented on #111
Cool. @lauxjpn  Looks like I have the same problem as you had here  https://github.com/dotnet/efcore/issues/26260

[2021-12-13 16:18] lauxjpn commented on #111
Yeah, there are a couple of hiccups when upgrading to 6.0.

[2021-12-13 16:35] lauxjpn commented on #98
For the 5.0 GA release, we have to ensure that all tests that worked in 3.1 are still working.
We will also need feedback from the community regards any issue their existing applications have with the new release.

[2021-12-13 17:27] ChrisJollyAU commented on #111
@lauxjpn Think I've got it working now. Some things in the JetQuerySqlGenerator I had to comment out. It just uses the base function for now til I have another look at redoing it for the functionality it had without using the sqlexpressionfactory

@bairog If you feel like it give the attached a try. Looks like it works. Have only done 1 test on it though. Just a basic entity query `context.Entity.

[2021-12-14 07:34] bairog commented on #98
@lauxjpn @ChrisJollyAU
I've tested **5.0 alpha prerelease** in my console application with **.net5.0-windows7.0** TFM. Basic reading with .Where() filtering is working as expected.

**P. S.** I have x86 version of MS Office 2010 Plus installed. And in my test project I had to switch to `x86`, because I got an error with `AnyCPU`:

Is there any way to make you provider work in `AnyCPU` test project

[2021-12-14 07:49] ChrisJollyAU commented on #98
@bairog If the provider you have installed is x86 you have to target your project for x86. Similar for x64. It's just one of those things with using the access database engine - target the platform of the engine you have installed. And as you have found out, it's also not really doable/easy to have x86 and x64 installed side by side

As to the nuget being as AnyCPU, that's just so that the same pa

[2021-12-14 08:01] bairog commented on #111
@ChrisJollyAU I've tested the attached libraries in my console application with **.net6.0-windows7.0** TFM.
Basic reading with .Where() filtering is working as expected. Many thanks.

[2021-12-14 14:07] lauxjpn commented on #98
@bairog `AnyCPU` basically means "I can and will be compiled to whatever the target OS or host process architecture is when I am being executed". Nowadays, most machines run a 64 bit OS version.

If the app is compiled to 64 bit, it runs in a 64 bit process. A 64 bit process can only load 64 bit compiled libraries. Because of that, there is also a 64 bit dedicated registry hive for COM components

[2021-12-15 09:57] MichaelSteinecke commented on #110
As far as I can test it so far, the bug seems to be fixed.

[2021-12-15 09:57] #110 closed

[2021-12-16 10:59] MichaelSteinecke opened #113 "The generated DDL SQL for entities with foreign keys causes duplicated indexes with the same name"
Hello,
with the same model as from Issue110, there is another issue. When running a database creation or migration from the scaffolded model, the same index is generated twice with the same name and fails eventuelly.

As far as I understand Access DBMS correctly, Access in contrast to SQL Standard will create an index together with a the FK constrains, unless 'NO INDEX' is explicitly specified.

C

[2021-12-21 03:51] lauxjpn commented on #113
The simplest fix for us to implement is probably to not scaffold indexes with the same name as existing constraints.
I'll look into it.

[2022-01-13 20:44] #113 closed

[2022-01-14 12:24] MichaelSteinecke opened #116 "IMigrator.GenerateScript() creates invalid Access SQL for the __EFMigrationsHistory table check"
When creating a migration sql script for a context with migrations, the scripts contains an invalid statement:
[code]
This results in "Invalid SQL statement; expected 'DELETE', 'INSERT', 'PROCEDURE', 'SELECT', or 'UPDATE'."
ACCESS SQL doesn't support the IF statement.

[code]
Applying the Migration directly with MigrateAsync() works correctly.

[Issue114.zip](https://github.com/bubibubi/EntityFram

[2022-01-14 13:22] lauxjpn commented on #116
@MichaelSteinecke While Access does not support any kind of procedural SQL statements at all, we have added support for those that we absolutely need in our ADO.NET Jet provider `EntityFrameworkCore.Jet.Data`.

So the generated SQL should only fully work when executed using `EntityFrameworkCore.Jet.Data`. However, as you pointed out in your code, that is not the case here either.

There is a param

[2022-01-14 20:00] #116 closed

[2022-01-16 14:21] lauxjpn commented on #116
@MichaelSteinecke Thanks for reporting! Check-out the latest [daily build](https://github.com/bubibubi/EntityFrameworkCore.Jet#daily-builds), which contains the fix for this issue.

[2022-01-21 12:40] MichaelSteinecke commented on #116
@lauxjpn Thanks a lot for the fast fix.
Is it possible to use the EntityFrameworkCore.Jet.Data based procedural statements when creating migrations or execute SQL?
In my case I have to handle with legacy databases which may be malformed in some way.

[2022-01-21 13:33] lauxjpn commented on #116
@MichaelSteinecke As long as you run the statements through our `EntityFrameworkCore.Jet.Data` ADO.NET provider (which is implicitly being used by `EntityFrameworkCore.Jet`), and as long as those statements are correctly formatted so that the provider recognizes them, this should work fine, since it is exactly what our internal query generator and migration script generator does.

For example, mos

[2022-01-24 07:55] MichaelSteinecke commented on #116
That works! Thank you :)

[2022-02-08 11:41] lauxjpn commented on #98
In my daily use, the 5.0 bits work fine.
So unless there are any objections, I suggest we publish those bits as a beta and then go GA after that.

[2022-02-10 11:27] ChrisJollyAU commented on #98
I think there have been some fixes in the 3.1 branch since this was merged to the main branch. Just to confirm those have been ported to the .Net5 main branch?

If so then should be fine for beta

[2022-03-10 17:55] nicovil opened #122 "[ .net 5 ] : EnsureCreated always use ODBC"
When executing ~~`Migrate` or `MigrateAsync`~~ `EnsureCreated` and `EnsureCreatedAsync`, it doesn't matter which connection string we use, the provider will always use ODBC.

In my case, I'm working with OLEDB and I want `EnsureCreated` to use OLEDB too, the reason is that I'm using some datatypes that doesn't works well with ODBC but everything works perfectly with OLEDB.

Not 100% sure, but look

[2022-03-10 18:56] nicovil commented on #122
For more information, I'm using this workaround to create the database when using JET provider:

[code]

This one works and creates the empty database, so later I can apply the Migration with **Context.Database.Migrate()** without any problem.

[2022-05-06 03:19] tb-mtg commented on #111
I have submitted a [pull request ](https://github.com/bubibubi/EntityFrameworkCore.Jet/pull/123) that compiles and is based on the v5.0.0-alpha.1 tag with dependencies updated to latest versions & targets .net6.

[2022-05-13 15:59] lauxjpn commented on #122
@nicovil Sorry can you clarify a bit, since the following two statements seem contradict each other:

Thanks!

[2022-05-13 20:10] lauxjpn commented on #122
@nicovil Thanks, got it now! I'll take a look at this.

[2022-05-15 03:45] BrandonStudio opened #124 "Error when connecting to Access database (*.mdb)"
Is this means that my database file has something wrong? What can I do then?

Why is it trying to find MSysAccessStorage?

[2022-05-15 17:54] lauxjpn commented on #124
@BrandonStudio Is this an exception? If so, please post the full exception, including the stack trace.
Also, please provide us with some context, e.g. about when this issue appearing.

[2022-05-15 18:25] bubibubi commented on #124
I think that is related to _Dual_ table simulation.
You can try to create MSysAccessStorage with one row or create a new table and change the configuration.

[2022-05-16 07:52] lauxjpn commented on #124
@BrandonStudio We need (at least part of) the stack trace, so we know _where_ in our code the exception is being thrown. This is necessary so that we know when we have reproduced the issue.

Also, please confirm that this issue happens when _connecting_ to the database (meaning, it is the connection process that fails, not the query execution process).

Once we got the requested information from y

[2022-05-16 08:48] lauxjpn commented on #124
@BrandonStudio I am aware about the nature of the issue from you first 3 posts.

We still need the stack trace:

To show the `[external code]` section, refer to [What does "external code" in the call stack mean?](https://stackoverflow.com/a/31044557/2618319) (basically, click "Show External Code").

The full stack trace should also be available as a property of the `Exception` object (see [Excepti

[2022-05-16 08:53] bubibubi commented on #124
**Any** queries uses **Dual** table simulation.
As far as I remember is a static member and you can change it with a table with a single record.
There should be a comment about this setting.

[2022-06-07 14:18] horseyhorsey commented on #98
Anyone have issues with transactions? These were good in the 3x versions.

[code]

[2022-06-08 07:26] lauxjpn commented on #98
@horseyhorsey Please open a new issue and post us some code, so we can take a look at it. Thanks!

[2022-06-08 17:13] horseyhorsey opened #125 "EF Core 5: Transactions failing..."
The following code was working in previous versions (3.x) wrapped in a transaction which now results in an error `Invalid SQL statement; expected 'DELETE', 'INSERT', 'PROCEDURE', 'SELECT', or 'UPDATE'.`

[code]

[2022-06-11 14:42] lauxjpn opened #128 "Add support for ambient transactions"
It would be nice to enlist to scoped transactions.

[2022-06-13 17:39] #125 closed

[2022-06-13 20:06] lauxjpn commented on #125
@horseyhorsey Thank you for reporting this issue! You can find the fix in our [daily builds](https://github.com/bubibubi/EntityFrameworkCore.Jet#daily-builds).

[2022-06-13 20:41] horseyhorsey commented on #125
@lauxjpn Great, well done, thanks! Will try this first thing tomorrow.

[2022-06-18 18:49] EtienneLaneville opened #130 "Method not found exception during Add-Migration MyFirstMigration"
I am trying to build the sample application described in the Wiki page and I am getting the following exception when executing `Add-Migration MyFirstMigration` in the PMC:

I have added the following Packages to the project:
- EntityFrameworkCore.Jet (5.0.0-alpha.1)
- Microsoft.EntityFrameworkCore (7.0.0-preview.5.22302.2)
- Microsoft.EntityFrameworkCore.Design (7.0.0-preview.5.22302.2)
- Microsof

[2022-06-18 19:44] ChrisJollyAU commented on #130
Looks like you're mixing different version of EF Core

I can see that you have used EntityFrameworkCore.Jet (5.0.0-alpha.1). As a version 5, it targets EF Core 5

All the other packages you mentioned are 7.0.0-preview.5.22302.2 which is a preview version of the next release of EF Core (not sure why you are running a preview version and hadn't gone with the stable 6.0.x EF Core 6)

Anyway, all the

[2022-06-19 03:17] EtienneLaneville commented on #130
OK, yes, I see that now, there is a warning on the Microsoft.EntityFrameworkCore package:

Thanks for your quick response, MyFirstMigration was succesful:

[2022-06-19 03:17] #130 closed

[2022-07-09 01:46] chrisdreams13 commented on #111
Any update about the official release for .net6? 5 months ago v5.0.0-alpha.1 is on nuget.

[2022-08-12 11:56] ethylon commented on #111
Any update on this? Or even .net 5?
Microsoft has already ended support for .net 5, maybe you should makes LTS versions (.net 6, .net 8) a priority. Wish I could help, but I have no idea how this all works, so I can only count on you guys 😄

[2022-09-08 19:55] nicovil commented on #111
I'm trying to make the provider work in .net 6 and there are several changes between frameworks.
One big change was in Migration, I think I'm missing something in IDesignTimeServices.

I changed the **ConfigureDesignTimeServices** method to make it look similar to the one in SQL Server provider, and introduced **JetCSharpRuntimeAnnotationCodeGenerator** which implements ICSharpRuntimeAnnotationCod

[2022-09-26 12:29] ShamilS commented on #111
I have got "[Disable savepoint API, because it is not supported by Jet](https://github.com/bubibubi/EntityFrameworkCore.Jet/pull/126)" issue while using EFCore.Jet.NET6 codebase.

[2022-09-26 13:07] nicovil commented on #111
Which repo are you using? https://github.com/ChrisJollyAU/EntityFrameworkCore.Jet/tree/net6 ?

[2022-09-26 13:15] ChrisJollyAU commented on #111
@ShamilS @nicovil That issue and fix was after my experimental build. I should probably look at merging all the fixes since then and produce a new build

[2022-09-26 13:18] nicovil commented on #111
That would be great!
Also the dependencies (Dependencies.targets) are for .net 6.0.0, and we're now in .net 6.0.9, so maybe this needs an update. I have mine

[2022-09-26 13:45] ShamilS commented on #111
I have just checked - downloaded .zip archive from https://github.com/ChrisJollyAU/EntityFrameworkCore.Jet/tree/net6.
Is it correct? I still have the subject error when using transactions.

[2022-09-26 13:48] ShamilS commented on #111
It would be great! I'd be waiting for your fixes!

[2022-09-26 13:48] ShamilS commented on #111
It would be great! I'd be waiting for your fixes!

[2022-09-26 13:55] ShamilS commented on #111
@nicovil @ChrisJollyAU Yes, net 6.0.9 as the target .NET (Core) version would be the best option.

[2022-09-26 16:45] ChrisJollyAU commented on #111
@nicovil @ShamilS I've had a look and have updated to 6.0.9 (although if your project was directly referencing 6.0.9 it would be using that as what it is compiled against is set as the minimum required version). I've also merged the fixes from the master branch into my code.

I will note that I haven't gotten to any tests yet. All I know is that it compiles without errors. Will probably be able to

[2022-09-27 00:07] ShamilS commented on #111
@ChrisJollyAU Transactions work now. Thanks!

[2022-09-27 11:23] ShamilS commented on #111
@ChrisJollyAU: Do you plan to release the sources of the EntityFrameworkCore.Jet (6.0.x) in the near future? I may try to help with correction of its tests code etc.
It's more suitable to write sample and production apps when the whole source code base of the EntityFrameworkCore.Jet is available, as this source code allows to debug/trace problematic use-cases and formulate change-requests or even

[2022-09-27 13:18] ChrisJollyAU commented on #111
@ShamilS Pretty sure it's been mentioned here somewhere, but all my current stuff on net6 is found here https://github.com/ChrisJollyAU/EntityFrameworkCore.Jet/tree/net6

[2022-09-27 14:13] ShamilS commented on #111
@ChrisJollyAU OK, my fault, I missed to mention specific branch in git clone - it should have been:

git clone --branch net6  https://github.com/ChrisJollyAU/EntityFrameworkCore.Jet.git

Thanks!

[2022-09-27 14:26] nicovil commented on #111
@ChrisJollyAU the build you sent in the zip file is based on your current baseline at the repo (including transactions fix)?

[2022-09-27 15:00] ChrisJollyAU commented on #111
@ShamilS correct

[2022-09-27 15:19] nicovil commented on #111
@ChrisJollyAU I were testing your build a little with a project I have and general features seems to be working.

The issues are with Migration framework, more specificaly I tried the Add-Migration command and I got an error due to a service that is not present.

I have fixed this in my working copy by changing the **IDesignTimeServices** implementation.

The **ConfigureDesignTimeServices** method

[2022-09-27 19:41] ShamilS commented on #111
@ChrisJollyAU @nicovil et all: I decided to make EFCore.Jet.Tests.csproj compiling and working "all green":

 * removed reference to the EFCore.Jet.FunctionalTests.csproj which doesn't compile with a large bunch of errors,
 * unloaded EFCore.Jet.FunctionalTests.csproj;
 * imported some source files from EFCore.Jet.FunctionalTests.csproj
 * installed some packages;
 * ... etc.

Almost done now, EFC

[2022-09-27 19:48] ShamilS commented on #111
@nicovil @ChrisJollyAU I'd suppose that `counter` data type isn't used anymore. Here is why:

While fixing "JetMigrationTest" set of four tests in EFCore.JET.Test.csproj I have changed in several places:

     .HasColumnType("counter")

to

      .UseIdentityColumn()

For example:

        entity.Property(e => e.CookieId)
            .HasColumnType("counter");

to

        entity.Property(e => e.C

[2022-09-27 21:10] ShamilS commented on #111
I have collected SQL generated by correct and problematic tests by debugging/tracing `ContextBase` class in `EFCore.Jet.Tests.csproj` - and here what I have got:

* for correct tests the following SQL is generated:

         SELECT `c`.`CookieId`, `c`.`BestServedAfterDateTime`, `c`.`BestServedBeforeDateTime`,
              `c`.`CookieName`, `c`.`PuchasedDateTime` FROM `Cookies` AS `c`

[2022-09-28 13:27] ShamilS commented on #111
@ChrisJollyAU I have found the solution - quick (& dirty?) fix:

* EFCore.Jet's `JetQuerySqlGenerator` class has `VisitJetConvertExpression` method, which is only partially implemented:

        protected Expression VisitJetConvertExpression(SqlUnaryExpression convertExpression)
        {
            var typeMapping = convertExpression.TypeMapping;

            if (typeMapping == null)

[2022-09-28 13:58] ChrisJollyAU commented on #111
Yeah, that is where the problem is. I've been looking at that as well.

As to adding the ISqlExpressionFactory in via dependency injection, that's more complex. It looks simple (if you look at how it was done in the 3.1 series) but if you do it like that it starts breaking the dependency injection at appears to end up in a different scope.

Definitely think a proper solution should be found, then

[2022-09-28 19:31] ShamilS commented on #111
@ChrisJollyAU The proper solution can be found by investigating the [EFCore](https://github.com/dotnet/efcore/tree/main/src/EFCore) source code base or are there any docs describing the architecture of EFCore/EFCore.SQLLite/EFCore.Cosmos/EFCore.SqlServer sources?

Thank you!

[2022-09-29 18:17] ChrisJollyAU commented on #111
@nicovil

How are you defining the property? If you are using the Fluent API are you calling the `.UseIdentityColumn()` function to tell it to make that property the identity which enables auto increment on it. I was investigating some other tests that had a similar error in that it expected the Id column to be the identity but it was just a plain `int NOT NULL` and primary key. Adding the above c

[2022-09-29 20:29] nicovil commented on #111
I'm using FLUENT API with method ValueGeneratedOnAdd().

Like this:

[code]

That generates something like that (with the 5.0 version) with the Add-Migration, in the Migration autogenerated class:

[code]

But with the 6.0 version, it doesn't generates the Annotation.

[2022-09-29 20:32] ShamilS commented on #111
@ChrisJollyAU

Yes, I have checked it works, generates expressions for DateTime field type with milliseconds as, e.g

             IIF(`c`.`BestServedAfterDateTime` IS NULL, NULL, CDBL(`c`.`BestServedAfterDateTime`))

Thank you for clarification.

[2022-10-03 17:11] ChrisJollyAU commented on #111
@nicovil Are you sure it was working in the 5.0 series?

It's just that I found a test that looked like it has the same problem (the `DefaultValuesTest`). It has a simple table with the Id declared as
 `public int Id { get; set; }`

And nothing further in the fluent API section. In both the 5.x and 6.x code the `CREATE TABLE` sql for that field was created as
`int NOT NULL`

Even using the `.Value

[2022-10-03 17:51] nicovil commented on #111
Hi @ChrisJollyAU ,

I'm pretty sure it works because I'm using the migration generated class from 5.0 build with my 6.0 working copy.

Are you adding the "HasKey" fluent definition too?

This is the code that I'm using, and 5.0 generated the migration correctly.

[code]

Did you pushed the changes to your repo? I'm going to test your last changes to confirm they work.
Thanks!

[2022-10-03 17:56] ChrisJollyAU commented on #111
@nicovil Any chance for the full class for the table and the OnConfiguring section for that table for the Fluent API part. So that I can try a test on my side as well
And yes, all changes are pushed to the branch in my repo

[2022-10-10 10:32] ChrisJollyAU commented on #111
@nicovil Any update? Is it working now? Also are you still having the problem with the foreign keys or is that fixed as well?

[2022-10-10 13:16] nicovil commented on #111
@ChrisJollyAU Hi Chris, sorry for the delay.
I were not able to test it yet, sorry. I will try to do it today and back to you with feedback.

Thanks!

[2022-10-10 13:26] nicovil commented on #111
Is there some way to send the Fluent configuration file to you?

[2022-10-10 14:38] nicovil commented on #111
Hi again @ChrisJollyAU.

I did a full build from your net6 repo, and tried the Add-Migration command, but sadly I'm getting the same error:

Here is the output from Package Manager Console.

[code]

[2022-10-10 15:00] ChrisJollyAU commented on #111
@nicovil Thanks. It's an interesting problem as I have often had to debug and step through `JetTypeMappingSource` when fixing tests.

A couple of questions:
1. Output of `dotnet --info`
2. Which version of Visual Studio
3. The application you are using, is it targeting Any CPU,x86 or x64?
4. What happens if you go to the command line and use `dotnet ef migrations add Initial-Version`

[2022-10-10 15:00] nicovil commented on #111
@ChrisJollyAU , here is more info.

If I modify the **JetDesignTimeServices** class (like I did in my working copy) to this:

[code]

Things are working now, and the generated migration code auto incremental (counter) keys has the **Annotation("Jet:Identity", "1, 1")** calls.

The generated empty Access database has the counter data type created correctly.

HOWEVER

There is an issue that has not

[2022-10-10 15:10] nicovil commented on #111
Here we go:

(1) my base system is in Spanish, but it's almost the same output.

[code]

(2)

Visual Studio 2022 Professional, v17.3.5

(3)

Target: AnyCPU, Windows10

(4)

Exactly the same behavior than from package management console.

[2022-10-10 15:11] nicovil commented on #111
I really think the issue is in ConfigureDesignTimeServices.

If you check the SQL Server provider code, you will notice it changed from EF 5.0 to EF 6.0 and that it's now calling the EntityFrameworkRelationalDesignServicesBuilder helper class, plus also calling the AddXXXXX method to register all services for dependency injection.

[2022-10-10 16:20] ChrisJollyAU commented on #111
@nicovil Yeah. Was just looking to see if it had anything to do with one part being a different bitness to the other. But it seems fine

I've looked at one table that I set the Restrict behaviour to and followed it through its sql generation.
Couple of notes as follows
- It actually ignores the Restrict when generating the foreign key
- If I force it to use `RESTRICT` such as

CREATE TABLE `Person

[2022-10-12 10:11] ChrisJollyAU commented on #111
@nicovil Think I have it fixed now.
Created a test project and configured the entity as
[code]
Running Add-Migration creates the following

[code]
This is as expected.
Doing the script-migration produces
[code]
Also, as I expected given that there is no Restrict in Jet

[2022-10-12 13:43] nicovil commented on #111
Hi @ChrisJollyAU .

I updated the code from the repo and made a rebuild, everything seems to be working now.

The only detail, which I don't think is important, is that I was not explicitly setting up restrict mode for the foreign key.

That is, I was not adding the "OnDelete" call in the fluent confuration:

`.OnDelete(DeleteBehavior.Restrict);`

So, in 5.0 it seems that the migration framework w

[2022-10-12 14:20] ChrisJollyAU commented on #111
That is, I was not adding the "OnDelete" call in the fluent confuration:

That's a bit odd. Without knowing the full definition it's a bit hard to say though. Normally EF Core will set it up as on delete cascade if nothing else specified

[2022-10-12 14:49] nicovil commented on #111
Here is an example in .net 5.0 to show my point:

This fluent code:

[code]

is generating this migration code:

[code]

[2022-10-13 16:28] nicovil commented on #111
@ChrisJollyAU ,

My tests with your actual version of the code are going very well, and I'm almost sure I'm having the same behavior than with .net 5 build.
The project I'm working on has a lot of complex stuff, like custom migration operations, multi-dbms support, custom overriden framework services (like CacheKey, etc), custom runtime defined entities, etc, etc... so it's stressing a lot of comp

[2022-10-17 15:04] ChrisJollyAU commented on #111
@nicovil Thanks for the feedback. Good to know that it seems to be working nicely.

I'd love to get an alpha .Net 6 release out sometime. Best I can do is create a pull request (probably sometime this week) and get the maintainers that do have access to merge it

[2022-10-18 19:48] nicovil commented on #111
That sounds very good. I guess since you're a contributor they will hear you!

[2022-10-23 17:14] ChrisJollyAU commented on #111
For those following this thread PR #131 is created

[2022-10-23 17:19] ChrisJollyAU commented on #98
Can we close this topic? .Net 5 is already out of support so no use continuing on with this. Better to work on .Net 6/EF Core 6 and EF Core 7 support

[2022-10-23 18:29] nicovil commented on #111
Awesome work @ChrisJollyAU.
Thanks you very much for your support!

[2022-11-09 16:10] ChrisJollyAU opened #132 "EF Core 7 support"
With .Net 7 and Entity Framework Core 7 out now I have created this topic for any questions regarding the status of EFCore.Jet for EF 7

[2022-11-09 16:11] ChrisJollyAU commented on #132
@nicovil Use this topic for any EF 7 questions

[2022-11-09 17:03] nicovil commented on #132
@ChrisJollyAU I just cloned your branch (I didn't knew you had one).

I noticed that the dependencies.targets file is outdated, so I changed DotnetRuntimeVersion dependency from 6.0.10 to 7.0.0, updated package references to their latest versions that belongs to net 7.0 (except Microsoft.Win32.Registry that stills being in preview build for 6.0), and ran nuget update.

I made a build and everythin

[2022-11-09 17:08] ChrisJollyAU commented on #132
@nicovil I had just created the branch this week.
Not sure if I use that variable anywhere. I have a tendency to update the package from the VS package manager rather than use those variables.

As to the test, I have around 50% pass rate.
Some obviously can be fixed as they are just EF 7 optimizing the structure of the query in a slightly different way

P.S. Just updated to the GA release from usi

[2022-11-16 18:17] ShamilS commented on #132
@ChrisJollyAU : _How to migrate `bool` data type to `Yes/No` field?_

I'm using EntityFrameworkCore.Jet (EF7) and I have a model class with a `bool` data type:

    public class MyTestClass
    {
        ...
        public bool BoolField {get;set;}
        ...
    }

When creating and applying a migration involving this class the target `BoolField` field in the target MS Access `MyTestclass` table

[2022-11-17 12:22] ChrisJollyAU commented on #132
@ShamilS Have had a look. Looks like the CLR type bool is currently mapped to a `smallint` type on the database side. Which would be why it is currently showing like it is.

It would be possible to change that to map to a `bit` instead (bit,boolean,logical are all synonyms for ms access). However this might introduce a new pronblem. In the file that sets up all this mapping `JetTypeMappingSource.c

[2022-11-17 13:38] ShamilS commented on #132
@ChrisJollyAU Thank you for your clarification. I have had a look at `JetTypeMappingSource.cs` . I see what you mean.

Is it possible to optionally force migration procedure to set the target database field type to "Bool (Yes/No)" by using DataTypeAttibute

    ....
    [DataType("Yes/No")]
    public bool BoolField {get; set; }
    ....

?

[2022-11-17 17:18] PedroGGaspar commented on #132
@ChrisJollyAU, I don't know the reason for @ShamilS wanting a `bit` field, but I would guess it's about storage space. The `smallint` needs 2 bytes while a `bit` field needs just 1 byte. Couldn't the `bool` type map to `byte`/`tinyint` then?

[2022-11-22 09:24] ShamilS commented on #132
Sorry, I didn't reply promptly, I was busy with a project deadlines.

@ChrisJollyAU No, I can live with it.

[2022-11-22 09:43] ShamilS commented on #132
@PedroGGaspar No, it wasn't about storage space preservation. I missed the point, which @ChrisJollyAU pointed me to, that it would be useful to have ternary logic handled by nullable `bool?`-type fields and this data with 'null' values `Boolean` fields should be possible to be saved to/retrieved from MS Access backend handled by the EntityFrameworkCore.Jet7.

P.S. Although, if  if that wouldn't br

[2022-11-22 22:27] ShamilS commented on #132
It could be a `false alarm` - I'm getting a runtime error while trying to save simple data entity instance:

    Unhandled exception. Microsoft.EntityFrameworkCore.DbUpdateException:
     An error occurred while saving the entity changes. See the inner exception for details.
      ---> System.Data.OleDb.OleDbException (0x80040E10): Too few parameters. Expected 8.

This error happens in EFCore.Jet.

[2022-11-23 10:09] ChrisJollyAU commented on #132
@ShamilS It's an issue with decimal types. In fact it's been around for a while. See issue #32

[2022-11-28 16:40] ChrisJollyAU commented on #132
Quick progress update
1. Enabled nullable on the EFCore.Jet src projects. Tests are not enabled (same as in sqlserver tests)
2. Fixed the Math and String translators. Updated to how current Sql Server generates things. This fixes some tests (both by generating a sql server style code that works as well as handling scenarios not previously handled)
3. Fixed a number of NorthWind* tests (Mostly in N